{% if entry.advertisement|length %}
    {% set ad = entry.advertisement.adBlock.first() %}
    <div class="block block__order"
         style="background-image:url({{ ad.coverPicture.first().url }})"
    >
        <div class="block__body">
            <div class="container">
                <a class="btn btn-primary btn-lg font-italic" href="{{ ad.targetUrl }}">{{ ad.buttonText }}</a>
                <div class="block__phone">{{ ad.caption }}</div>
            </div>
        </div>
    </div>
{% endif %}