{% set feedbackList = craft.entries.section('feedbackList').first() %}
{% if feedbackList %}
    <div class="block block__theme-gray block__space-biggest block__space-inner block__space-outer-bottom">
        <div class="block__header">
            <nav class="block__header-nav text-center">
                <a href="#">Facebook</a>
                <a class="active" href="#">Twitter</a>
            </nav>
        </div>
        <div class="block__body">
            <div class="carousel carousel__testimonial owl-carousel"
                 data-carousel-items="1"
                 data-carousel-items-laptop="1"
                 data-carousel-items-tablet="1"
                 data-carousel-items-mobile="1"
                 data-carousel-start-position="0"
                 data-carousel-with-arrows="true"
                 data-carousel-with-dots="true"
                 data-carousel-navtext=''
            >
                {% for feedbackBlock in feedbackList.feedbackList.type('feedbackBlock') %}
                    <div class="carousel__item">
                        <div class="testimonial">
                            <div class="testimonial__figure">
                                {% set picture = feedbackBlock.picture.first() %}
                                <img src="{{ picture.url }}" alt="{{ picture.title }}"/>
                            </div>
                            <div class="testimonial__description">
                                <div class="testimonial__text">
                                    {{ feedbackBlock.text|nl2br|raw }}
                                    <svg class="icon icon-speech icon__bottom testimonial__icon testimonial__icon-top" width="48" height="48">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#speech"></use>
                                    </svg>
                                    <svg class="icon icon-speech testimonial__icon testimonial__icon-bottom" width="48" height="48">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#speech"></use>
                                    </svg>
                                </div>
                                <div class="testimonial__author">{{ feedbackBlock.author }},</div>
                                <div class="testimonial__caption">
                                    {{ feedbackBlock.signature|nl2br|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}