<div class="form__field form__field-row">
    <label class="form__label">Name:</label>
    <div class="form__field-col-left">
        <input class="form-control" type="text" name="yourName" value="" placeholder="Name">
    </div>
</div>
<div class="form__field form__field-row">
    <label class="form__label">Breed:</label>
    <div class="form__field-col-left">
        <input class="form-control" type="text" name="yourName" value="" placeholder="Breed">
    </div>
</div>
<div class="form__field form__field-row">
    <label class="form__label">D.O.B:</label>
    <div class="form__field-col-left">
        <input class="form-control" type="text" name="yourName" value="" placeholder="D.O.B">
    </div>
</div>
<div class="form__field form__field-row">
    <label class="form__label">Vaccinations:</label>
    <div class="form__field-col-left">
        <label class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" name="yourVaccinations" value="yes">
            <span class="custom-control-label">Yes</label>
        </label>
        <label class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" name="yourVaccinations" value="no" checked>
            <span class="custom-control-label">No</label>
        </label>
    </div>
</div>
<div class="form__field form__field-row">
    <label class="form__label">Vaccination date:</label>
    <div class="form__field-col-left">
        <input class="form-control" type="text" name="vaccDate" value="" placeholder="Vaccination date" data-toggle="datepicker">
    </div>
</div>
<div class="form__field form__field-row">
    <label class="form__label">Notes:</label>
    <div class="form__field-col-left">
        <textarea class="form-control" rows="5" cols="12" name="yourNotes" placeholder="Notes"></textarea>
    </div>
</div>