<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form class="modal-content" action="#" method="post" role="form">
            <div class="modal-header modal-header-nobrd">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form">
                    {% include "_includes/_common/form-dog-details.twig" %}
                </div>
            </div>
            <div class="modal-footer modal-footer-nobrd">
                <button type="button" class="btn btn-lg btn-primary font-italic">Save</button>
            </div>
        </form>
    </div>
</div>