{% if entry.pageCover|length %}
    {% set cover = entry.pageCover.coverBlock.first() %}
    {% if cover %}
        <div class="page__cover" style="background-image:url({{ cover.picture.first().url }})">
            <div class="container page__cover-container">
                <div class="page__cover-logo">
                    {% include 'partials/logo.twig' %}
                </div>
                <div class="page__cover-content">
                    <div class="page__title page__title-small">
                        {{ cover.caption }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}