{% if entry.coverCaptionLinkbutton|length %}
    <div class="flat-grid-view">
        <div class="page__row">
            <div class="row">
                {% for itemBlock in entry.coverCaptionLinkbutton.type('itemBlock') %}
                    {% if itemBlock.size == 'fullSize' %}
                        {% set bootstrapColumnClass = 'col-12' %}
                        {% set buttonClass = 'btn-lg btn-primary' %}
                    {% elseif itemBlock.size == 'halfSize' %}
                        {% set bootstrapColumnClass = 'col-6' %}
                        {% set buttonClass = 'btn-sm btn-outline-light' %}
                    {% endif %}
                    <div class="col {{ bootstrapColumnClass }}">
                        <div class="flat-grid-view__card" style="background-image: url({{ itemBlock.coverPicture.first().url }})">
                            <div class="flat-grid-view__contaner">
                                <div class="flat-grid-view__title">{{ itemBlock.caption }}</div>
                                <div class="flat-grid-view__phone">{{ itemBlock.subcaption }}</div>
                                <div class="flat-grid-view__button">
                                    <a class="btn font-italic {{ buttonClass }}" href="#">{{ itemBlock.buttonCaption }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}