<div class="{{ bootstrapColumnClass }}">
    <div class="pricing__card">
        <div class="pricing__label">
            <span class="pricing__sticker page__sticker">{{ item.caption|nl2br|raw }}</span>
        </div>
        <div class="pricing__value">{{ item.priceText }}</div>
        <div class="pricing__note">{{ item.subcaption }}</div>
        <div class="pricing__booking">
            <a class="btn btn-sm btn-outline-primary btn-brd-2 font-italic" href="#">Book now</a>
        </div>
    </div>
</div>