{% set priceEntries = entry.priceList %}

{% if priceEntries | length %}
    <div class="container">
        {% for entry in priceEntries %}
            <div class="block block__brd block__space-biggest block__space-outer-bottom block__space-inner-bottom">
                <div class="block__header">
                    <div class="block__title text-center">{{ entry.title }}</div>
                </div>
                <div class="block__body">
                    <div class="pricing">
                        <div class="page__row page__row-spaced">
                            {% for batchedItems in entry.pricedItems.type('priceBlock')|batch(4) %}
                                <div class="row">
                                    {% for item in batchedItems %}
                                        {% if item.size == 'doubleSized' %}
                                            {% set bootstrapColumnClass = 'col col-12 col-lg-6' %}
                                        {% elseif item.size == 'singleSized' %}
                                            {% set bootstrapColumnClass = 'col col-6 col-lg-3' %}
                                        {% endif %}

                                        {% if item.isMostPopular == true %}
                                            {% include "_includes/pricing/priced-item-inversed.twig" %}
                                        {% else %}
                                            {% include "_includes/pricing/priced-item-regular.twig" %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="text-center pt-3">
                            {{ entry.bottomHtmlMarkup }}
                        </div>
                        </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{#<div class="container">#}
    {#<div class="block block__brd block__space-biggest block__space-outer-bottom block__space-inner-bottom">#}
        {#<div class="block__header">#}
            {#<div class="block__title text-center">Day Care</div>#}
        {#</div>#}
        {#<div class="block__body">#}
            {#<div class="pricing">#}
                {#<div class="page__row page__row-spaced">#}
                    {#<div class="row">#}
                        {#<div class="col col-6 col-lg-3">#}
                            {#<div class="pricing__card">#}
                                {#<div class="pricing__label">#}
                                    {#<span class="pricing__sticker page__sticker">Full day</span>#}
                                {#</div>#}
                                {#<div class="pricing__value">£22.50</div>#}
                                {#<div class="pricing__booking">#}
                                    {#<a class="btn btn-sm btn-outline-primary btn-brd-2 font-italic" href="#">Book now</a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col col-6 col-lg-3 order-lg-last">#}
                            {#<div class="pricing__card pricing__card-inverse">#}
                                {#<div class="pricing__header">#}
                                    {#<div class="pricing__header-icon">#}
                                        {#<svg class="icon icon-heart" width="48" height="48">#}
                                            {#<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#heart"></use>#}
                                        {#</svg>#}
                                    {#</div>#}
                                    {#<div class="pricing__header-text">#}
                                        {#Most popular#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="pricing__label">#}
                                            {#<span class="pricing__sticker page__sticker page__sticker-inverse">#}
                                                {#Half day#}
                                                {#<span>(5 hours or less)</span>#}
                                            {#</span>#}
                                {#</div>#}
                                {#<div class="pricing__value">£22.30</div>#}
                                {#<div class="pricing__booking">#}
                                    {#<a class="btn btn-sm btn-outline-light btn-brd-2 font-italic" href="#">Book now</a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col col-6 col-lg-3">#}
                            {#<div class="pricing__card">#}
                                {#<div class="pricing__label">#}
                                            {#<span class="pricing__sticker page__sticker">#}
                                                {#Full day for two dogs#}
                                                {#<span>(same household)</span>#}
                                            {#</span>#}
                                {#</div>#}
                                {#<div class="pricing__value">£22.30</div>#}
                                {#<div class="pricing__booking">#}
                                    {#<a class="btn btn-sm btn-outline-primary btn-brd-2 font-italic" href="#">Book now</a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col col-6 col-lg-3">#}
                            {#<div class="pricing__card">#}
                                {#<div class="pricing__label">#}
                                            {#<span class="pricing__sticker page__sticker">#}
                                                {#Full day#}
                                                {#<span>(more than 15 days per month)</span>#}
                                            {#</span>#}
                                {#</div>#}
                                {#<div class="pricing__value">£37.50</div>#}
                                {#<div class="pricing__booking">#}
                                    {#<a class="btn btn-sm btn-outline-primary btn-brd-2 font-italic" href="#">Book now</a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="row">#}
                        {#<div class="col col-12 col-lg-6">#}
                            {#<div class="pricing__card">#}
                                {#<div class="pricing__label">#}
                                    {#<span class="pricing__sticker page__sticker">Pick up & drop off</span>#}
                                {#</div>#}
                                {#<div class="pricing__value pricing__value-with-note">£3.00 per dog</div>#}
                                {#<div class="pricing__note">(£1.50 for each additional dog)</div>#}
                                {#<div class="pricing__booking">#}
                                    {#<a class="btn btn-sm btn-outline-primary btn-brd-2 font-italic" href="#">Book now</a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col col-12 col-lg-6 align-self-start">#}
                            {#<div class="pricing__lead lead">Rates include VAT</div>#}
                            {#<p>Note that day care and boarding pick up / drop off service is restricted to certain areas. Please contact us for#}
                                {#details.</p>#}

                            {#<p><b>Please note:</b> Dogmore does not charge for days or periods when your dog is not using our services, including last#}
                                {#minute cancellations.</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<div class="block block__brd block__space-biggest block__space-outer-bottom block__space-inner-bottom">#}
        {#<div class="block__header">#}
            {#<div class="block__title text-center">Boarding Kennels</div>#}
        {#</div>#}
        {#<div class="block__body">#}
            {#<div class="pricing">#}
                {#<div class="page__row page__row-spaced">#}
                    {#<div class="row justify-content-center">#}
                        {#<div class="col col-6 col-lg-3">#}
                            {#<div class="pricing__card">#}
                                {#<div class="pricing__label">#}
                                    {#<span class="pricing__sticker page__sticker">Per night</span>#}
                                {#</div>#}
                                {#<div class="pricing__value">£26.00</div>#}
                                {#<div class="pricing__booking">#}
                                    {#<a class="btn btn-sm btn-outline-primary btn-brd-2 font-italic" href="#">Book now</a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col col-6 col-lg-3">#}
                            {#<div class="pricing__card pricing__card-inverse">#}
                                {#<div class="pricing__header">#}
                                    {#<div class="pricing__header-icon">#}
                                        {#<svg class="icon icon-heart" width="48" height="48">#}
                                            {#<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#heart"></use>#}
                                        {#</svg>#}
                                    {#</div>#}
                                    {#<div class="pricing__header-text">#}
                                        {#Most popular#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="pricing__label">#}
                                            {#<span class="pricing__sticker page__sticker">#}
                                                {#Two dogs#}
                                                {#<span>(same household) </span>#}
                                            {#</span>#}
                                {#</div>#}
                                {#<div class="pricing__value">£37.00</div>#}
                                {#<div class="pricing__booking">#}
                                    {#<a class="btn btn-sm btn-outline-light btn-brd-2 font-italic" href="#">Book now</a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col col-6 col-lg-3">#}
                            {#<div class="pricing__card">#}
                                {#<div class="pricing__label">#}
                                    {#<span class="pricing__sticker page__sticker">After mid-day collection</span>#}
                                {#</div>#}
                                {#<div class="pricing__value">£18.50</div>#}
                                {#<div class="pricing__booking">#}
                                    {#<a class="btn btn-sm btn-outline-primary btn-brd-2 font-italic" href="#">Book now</a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}

                    {#<div class="text-center pt-3">#}
                        {#<p><b>Please note</b>: Regardless of the time your dog is checked in, the charge of £26 would apply from the check in time#}
                            {#until midday the next day. Collection after midday would incur an additional charge of half a day boarding (£18.50 for one#}
                            {#dog).</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<div class="block block__brd block__space-biggest block__space-outer-bottom block__space-inner-bottom">#}
        {#<div class="block__header">#}
            {#<div class="block__title text-center">Dog Training, Behaviour Correction and Puppy Education</div>#}
        {#</div>#}
        {#<div class="block__body">#}
            {#<div class="pricing">#}
                {#<div class="page__row page__row-spaced">#}
                    {#<div class="row">#}
                        {#<div class="col col-6 col-lg-3">#}
                            {#<div class="pricing__card">#}
                                {#<div class="pricing__label">#}
                                            {#<span class="pricing__sticker page__sticker">#}
                                                {#One-on-one session#}
                                                {#<span>(at centre).</span>#}
                                            {#</span>#}
                                {#</div>#}
                                {#<div class="pricing__value">£95.00</div>#}
                                {#<div class="pricing__booking">#}
                                    {#<a class="btn btn-sm btn-outline-primary btn-brd-2 font-italic" href="#">Book now</a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col col-6 col-lg-3 order-lg-last">#}
                            {#<div class="pricing__card pricing__card-inverse">#}
                                {#<div class="pricing__header">#}
                                    {#<div class="pricing__header-icon">#}
                                        {#<svg class="icon icon-heart" width="48" height="48">#}
                                            {#<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#heart"></use>#}
                                        {#</svg>#}
                                    {#</div>#}
                                    {#<div class="pricing__header-text">#}
                                        {#Most popular#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="pricing__label">#}
                                            {#<span class="pricing__sticker page__sticker page__sticker-inverse">#}
                                                {#Subsequent session#}
                                                {#<span>(client residence)</span>#}
                                            {#</span>#}
                                {#</div>#}
                                {#<div class="pricing__value">£65.00</div>#}
                                {#<div class="pricing__booking">#}
                                    {#<a class="btn btn-sm btn-outline-light btn-brd-2 font-italic" href="#">Book now</a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col col-6 col-lg-3">#}
                            {#<div class="pricing__card">#}
                                {#<div class="pricing__label">#}
                                            {#<span class="pricing__sticker page__sticker">#}
                                                {#One-on-one session#}
                                                {#<span>(client residence)</span>#}
                                            {#</span>#}
                                {#</div>#}
                                {#<div class="pricing__value">£120.00</div>#}
                                {#<div class="pricing__booking">#}
                                    {#<a class="btn btn-sm btn-outline-primary btn-brd-2 font-italic" href="#">Book now</a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col col-6 col-lg-3">#}
                            {#<div class="pricing__card">#}
                                {#<div class="pricing__label">#}
                                            {#<span class="pricing__sticker page__sticker">#}
                                                {#Subsequent session#}
                                                {#<span>(at centre) </span>#}
                                            {#</span>#}
                                {#</div>#}
                                {#<div class="pricing__value pricing__value-with-note">£50.00</div>#}
                                {#<div class="pricing__note">(per 30 minutes)</div>#}
                                {#<div class="pricing__booking">#}
                                    {#<a class="btn btn-sm btn-outline-primary btn-brd-2 font-italic" href="#">Book now</a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="text-center pt-3">#}
                    {#<p><b>Please note</b>: We like to differentiate between performance and practical obedience. Performance obedience is suited for#}
                        {#owners who like the idea of working with their dog and would like to engage in dog training as an activity, either#}
                        {#competitively or not.</p>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}
