<div class="{{ bootstrapColumnClass }}">
    <div class="pricing__card pricing__card-inverse">
        <div class="pricing__header">
            <div class="pricing__header-icon">
                <svg class="icon icon-heart" width="48" height="48">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#heart"></use>
                </svg>
            </div>
            <div class="pricing__header-text">
                Most popular
            </div>
        </div>
        <div class="pricing__label">
            <span class="pricing__sticker page__sticker page__sticker-inverse">
                {{ item.caption|nl2br|raw }}
            </span>
        </div>
        <div class="pricing__value">{{ item.priceText }}</div>
        <div class="pricing__note">{{ item.subcaption }}</div>
        <div class="pricing__booking">
            <a class="btn btn-sm btn-outline-light btn-brd-2 font-italic" href="#">Book now</a>
        </div>
    </div>
</div>