{% if entry.trainingsList|length %}
    <div class="container">
        <div class="training">
            {% set generalBlock = entry.trainingsList.type('generalBlock').first() %}
            {% if generalBlock %}

                <div class="block block__space-biggest block__space-outer-bottom">
                    <div class="block__header">
                        <div class="block__title text-center">{{ generalBlock.caption }}</div>
                    </div>
                    <div class="block__body">
                        <div class="text-center">
                            <p>
                                {{ generalBlock.text }}
                            </p>

                            <div class="pt-3">
                                <a class="btn btn-primary mx-2" href="#">Book now</a>
                                <a class="btn btn-outline-primary primary font-italic mx-2" href="#">View prices</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block__video block__space-biggest block__space-outer-bottom">
                    <div class="block__video-cover">
                        <img src="{{ generalBlock.video.first().url }}" alt="{{ generalBlock.video.first().title }}"/>
                    </div>
                    <div class="block__video-play">
                        <svg class="icon icon-play" width="48" height="48">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use>
                        </svg>
                    </div>
                </div>
            {% endif %}

            <div class="page__row page__row-spaced">
                <div class="row">
                    {% for trainingsBlock in entry.trainingsList.type('trainingsBlock') %}
                        <div class="col col-lg-6 col-12">
                            <div class="training__card">
                                <div class="training__figure">
                                    <span class="training__sticker page__sticker">{{ trainingsBlock.caption }}</span>
                                    <img src="{{ trainingsBlock.picture.first().url }}" alt="{{ trainingsBlock.picture.first().title }}"/>
                                </div>
                                <div class="training__body">
                                    <div class="training__title">{{ trainingsBlock.caption }}</div>
                                    <div class="training__text">
                                        {{ trainingsBlock.text|nl2br|raw }}
                                    </div>
                                </div>
                                <div class="training__footer">
                                    <a class="btn btn-primary mx-2" href="#">Book now</a>
                                    <a class="btn btn-outline-primary primary font-italic mx-2" href="#">View prices</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}