{% set feedbackList = craft.entries.section('feedbackList').first() %}
{% if feedbackList %}
    <div class="container">
        {% for feedbackBlock in feedbackList.feedbackList.type('feedbackBlock') %}
            <div class="testimonial testimonial__single">
                <div class="testimonial__figure">
                    {% set picture = feedbackBlock.picture.first() %}
                    <img src="{{ picture.url }}" alt="{{ picture.title }}"/>
                </div>
                <div class="testimonial__description">
                    <div class="testimonial__text">
                        {{ feedbackBlock.text|nl2br|raw }}
                        <svg class="icon icon-speech icon__bottom testimonial__icon testimonial__icon-top" width="48" height="48">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#speech"></use>
                        </svg>
                        <svg class="icon icon-speech testimonial__icon testimonial__icon-bottom" width="48" height="48">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#speech"></use>
                        </svg>
                    </div>
                    <div class="testimonial__author">{{ feedbackBlock.author }},</div>
                    <div class="testimonial__caption">
                        {{ feedbackBlock.signature|nl2br|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}