{% if entry.videoPanel|length %}
    {% set videoPanel = entry.videoPanel.first() %}

    <div class="container">
        <div class="block block__space-biggest block__space-outer-bottom">
            <div class="block__header">
                <div class="block__title text-center">{{ videoPanel.caption }}</div>
            </div>
            <div class="block__body">
                <div class="text-center">
                    <p>
                        {{ videoPanel.text|nl2br|raw }}
                    </p>
                </div>
            </div>
        </div>
        <div class="block__video block__space-biggest block__space-outer-bottom">
            <div class="block__video-cover">
                <img src="{{ videoPanel.video.first().url }}" alt="{{ videoPanel.video.first().title }}"/>
            </div>
            <div class="block__video-play">
                <svg class="icon icon-play" width="48" height="48">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use>
                </svg>
            </div>
        </div>
    </div>
{% endif %}