<div class="container">
    <div class="pupparazzi__article">
        <div class="page__row page__row-spaced">
            <div class="row">
                <div class="col col-md-6 col-12 order-md-6">
                    <div class="pupparazzi__figure pupparazzi__figure-main">
                        <a href="#">
                            <span class="pupparazzi__sticker page__sticker">Featured</span>
                            <img src="assets/images/pupparazzi/article.png" alt="Title" title="Title"/>
                        </a>
                    </div>
                </div>
                <div class="col col-md-6 col-12 pupparazzi__description">
                    <div class="pupparazzi__title">Lorem ipsum dolor sit amet elit viverra diam a nisi</div>
                    <div class="pupparazzi__date">Sarah Smith I 26th Feb</div>
                    <div class="pupparazzi__text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra diam a nisi vestibulum porta ac
                            eget mi. Fusce risus ipsum, tempor at leo nec, laoreet blandit ligula. Pellentesque tincidunt nibh et neque
                            eleifend convallis. Fusce nisi orci, tincidunt at libero et, molestie gravida ex. Fusce risus ipsum, tempor at
                            leo nec, laoreet blandit ligula. Pellentesque tincidunt eleifend convallis. Fusce nisi orci, tincidunt at
                            libero et.</p>
                    </div>
                    <div class="pupparazzi__actions">
                        <a class="btn btn-outline-primary font-italic btn-brd-2" href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pupparazzi__cards page__row page__row-spaced">
        <div class="row">
            <div class="col col-md-4 col-12 order-md-6">
                <div class="pupparazzi__card">
                    <div class="pupparazzi__figure">
                        <a href="#">
                            <span class="pupparazzi__sticker page__sticker">Blog post</span>
                            <img src="assets/images/pupparazzi/card_1.png" alt="Title" title="Title"/>
                        </a>
                    </div>
                    <div class="pupparazzi__description">
                        <div class="pupparazzi__title">Lorem ipsum dolor sit amet elit</div>
                        <div class="pupparazzi__date">Sarah Smith I 26th Feb</div>
                        <div class="pupparazzi__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra diam a nisi vestibulum porta ac
                                eget mi. Fusce risus ipsum, tempor at leo nec, laoreet blandit ligula. Pellentesque tincidunt nibh et
                                neque eleifend convallis. Fusce nisi orci, tincidunt at libero et, molestie gravida ex.</p>
                        </div>
                        <div class="pupparazzi__actions">
                            <a class="btn btn-outline-primary font-italic btn-brd-2" href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-4 col-12 order-md-6">
                <div class="pupparazzi__card">
                    <div class="pupparazzi__figure">
                        <a href="#">
                            <span class="pupparazzi__sticker page__sticker">Blog post</span>
                            <img src="assets/images/pupparazzi/card_2.png" alt="Title" title="Title"/>
                        </a>
                    </div>
                    <div class="pupparazzi__description">
                        <div class="pupparazzi__title">Lorem ipsum dolor sit amet elit</div>
                        <div class="pupparazzi__date">Sarah Smith I 26th Feb</div>
                        <div class="pupparazzi__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra diam a nisi vestibulum porta ac
                                eget mi. Fusce risus ipsum, tempor at leo nec, laoreet blandit ligula. Pellentesque tincidunt nibh et
                                neque eleifend convallis. Fusce nisi orci, tincidunt at libero et, molestie gravida ex.</p>
                        </div>
                        <div class="pupparazzi__actions">
                            <a class="btn btn-outline-primary font-italic btn-brd-2" href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-4 col-12 order-md-6">
                <div class="pupparazzi__card">
                    <div class="pupparazzi__figure">
                        <a href="#">
                            <span class="pupparazzi__sticker page__sticker page__sticker-secondary">Press</span>
                            <img src="assets/images/pupparazzi/card_3.png" alt="Title" title="Title"/>
                        </a>
                    </div>
                    <div class="pupparazzi__description">
                        <div class="pupparazzi__title">Lorem ipsum dolor sit amet elit</div>
                        <div class="pupparazzi__date">Sarah Smith I 26th Feb</div>
                        <div class="pupparazzi__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra diam a nisi vestibulum porta ac
                                eget mi. Fusce risus ipsum, tempor at leo nec, laoreet blandit ligula. Pellentesque tincidunt nibh et
                                neque eleifend convallis. Fusce nisi orci, tincidunt at libero et, molestie gravida ex.</p>
                        </div>
                        <div class="pupparazzi__actions">
                            <a class="btn btn-outline-primary font-italic btn-brd-2" href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "_includes/_common/feedback-carousel.twig" %}
{#<div class="block block__theme-gray block__space-biggest block__space-inner block__space-outer-bottom">#}
    {#<div class="block__header">#}
        {#<nav class="block__header-nav text-center">#}
            {#<a href="#">Facebook</a>#}
            {#<a class="active" href="#">Twitter</a>#}
        {#</nav>#}
    {#</div>#}
    {#<div class="block__body">#}
        {#<div class="carousel carousel__testimonial owl-carousel"#}
             {#data-carousel-items="1"#}
             {#data-carousel-items-laptop="1"#}
             {#data-carousel-items-tablet="1"#}
             {#data-carousel-items-mobile="1"#}
             {#data-carousel-start-position="0"#}
             {#data-carousel-with-arrows="true"#}
             {#data-carousel-with-dots="true"#}
             {#data-carousel-navtext=''#}
        {#>#}
            {#<div class="carousel__item">#}
                {#<div class="testimonial">#}
                    {#<div class="testimonial__figure">#}
                        {#<img src="assets/images/pupparazzi/testimonial_author_1.png" alt="Sarah" title="Sarah"/>#}
                    {#</div>#}
                    {#<div class="testimonial__description">#}
                        {#<div class="testimonial__text">#}
                            {#Duis nec odio vel justo egestas aliquam at non felis. Nullam elementum cursus pulvinar. Ut aliquam ex vel efficitur#}
                            {#rhoncus. Integer ut purus et metus molestie semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet#}
                            {#ante aliquam, cursus neque ac, lacinia odio. Duis diam lorem, dignissim vitae porta ac, faucibus ac dui pellentesque#}
                            {#ullamcorper eu augue.#}

                            {#<svg class="icon icon-speech icon__bottom testimonial__icon testimonial__icon-top" width="48" height="48">#}
                                {#<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#speech"></use>#}
                            {#</svg>#}
                            {#<svg class="icon icon-speech testimonial__icon testimonial__icon-bottom" width="48" height="48">#}
                                {#<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#speech"></use>#}
                            {#</svg>#}
                        {#</div>#}
                        {#<div class="testimonial__author">Sarah,</div>#}
                        {#<div class="testimonial__caption">#}
                            {#Day Care User#}
                            {#<br>#}
                            {#Dog friend: Frances#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="carousel__item">#}
                {#<div class="testimonial">#}
                    {#<div class="testimonial__figure">#}
                        {#<img src="assets/images/pupparazzi/testimonial_author_1.png" alt="Sarah" title="Sarah"/>#}
                    {#</div>#}
                    {#<div class="testimonial__description">#}
                        {#<div class="testimonial__text">#}
                            {#Duis nec odio vel justo egestas aliquam at non felis. Nullam elementum cursus pulvinar. Ut aliquam ex vel efficitur#}
                            {#rhoncus. Integer ut purus et metus molestie semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet#}
                            {#ante aliquam, cursus neque ac, lacinia odio. Duis diam lorem, dignissim vitae porta ac, faucibus ac dui pellentesque#}
                            {#ullamcorper eu augue.#}

                            {#<svg class="icon icon-speech icon__bottom testimonial__icon testimonial__icon-top" width="48" height="48">#}
                                {#<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#speech"></use>#}
                            {#</svg>#}
                            {#<svg class="icon icon-speech testimonial__icon testimonial__icon-bottom" width="48" height="48">#}
                                {#<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#speech"></use>#}
                            {#</svg>#}
                        {#</div>#}
                        {#<div class="testimonial__author">Sarah,</div>#}
                        {#<div class="testimonial__caption">#}
                            {#Day Care User#}
                            {#<br>#}
                            {#Dog friend: Frances#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="carousel__item">#}
                {#<div class="testimonial">#}
                    {#<div class="testimonial__figure">#}
                        {#<img src="assets/images/pupparazzi/testimonial_author_1.png" alt="Sarah" title="Sarah"/>#}
                    {#</div>#}
                    {#<div class="testimonial__description">#}
                        {#<div class="testimonial__text">#}
                            {#Duis nec odio vel justo egestas aliquam at non felis. Nullam elementum cursus pulvinar. Ut aliquam ex vel efficitur#}
                            {#rhoncus. Integer ut purus et metus molestie semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet#}
                            {#ante aliquam, cursus neque ac, lacinia odio. Duis diam lorem, dignissim vitae porta ac, faucibus ac dui pellentesque#}
                            {#ullamcorper eu augue.#}

                            {#<svg class="icon icon-speech icon__bottom testimonial__icon testimonial__icon-top" width="48" height="48">#}
                                {#<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#speech"></use>#}
                            {#</svg>#}
                            {#<svg class="icon icon-speech testimonial__icon testimonial__icon-bottom" width="48" height="48">#}
                                {#<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#speech"></use>#}
                            {#</svg>#}
                        {#</div>#}
                        {#<div class="testimonial__author">Sarah,</div>#}
                        {#<div class="testimonial__caption">#}
                            {#Day Care User#}
                            {#<br>#}
                            {#Dog friend: Frances#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}

<div class="container">
    <div class="pupparazzi__cards page__row page__row-spaced">
        <div class="row">
            <div class="col col-md-4 col-12 order-md-6">
                <div class="pupparazzi__card">
                    <div class="pupparazzi__figure">
                        <a href="#">
                            <span class="pupparazzi__sticker page__sticker">Blog post</span>
                            <img src="assets/images/pupparazzi/card_4.png" alt="Title" title="Title"/>
                        </a>
                    </div>
                    <div class="pupparazzi__description">
                        <div class="pupparazzi__title">Lorem ipsum dolor sit amet elit</div>
                        <div class="pupparazzi__date">Sarah Smith I 26th Feb</div>
                        <div class="pupparazzi__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra diam a nisi vestibulum porta ac
                                eget mi. Fusce risus ipsum, tempor at leo nec, laoreet blandit ligula. Pellentesque tincidunt nibh et
                                neque eleifend convallis. Fusce nisi orci, tincidunt at libero et, molestie gravida ex.</p>
                        </div>
                        <div class="pupparazzi__actions">
                            <a class="btn btn-outline-primary font-italic btn-brd-2" href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-4 col-12 order-md-6">
                <div class="pupparazzi__card">
                    <div class="pupparazzi__figure">
                        <a href="#">
                            <span class="pupparazzi__sticker page__sticker">Blog post</span>
                            <img src="assets/images/pupparazzi/card_5.png" alt="Title" title="Title"/>
                        </a>
                    </div>
                    <div class="pupparazzi__description">
                        <div class="pupparazzi__title">Lorem ipsum dolor sit amet elit</div>
                        <div class="pupparazzi__date">Sarah Smith I 26th Feb</div>
                        <div class="pupparazzi__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra diam a nisi vestibulum porta ac
                                eget mi. Fusce risus ipsum, tempor at leo nec, laoreet blandit ligula. Pellentesque tincidunt nibh et
                                neque eleifend convallis. Fusce nisi orci, tincidunt at libero et, molestie gravida ex.</p>
                        </div>
                        <div class="pupparazzi__actions">
                            <a class="btn btn-outline-primary font-italic btn-brd-2" href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-4 col-12 order-md-6">
                <div class="pupparazzi__card">
                    <div class="pupparazzi__figure">
                        <a href="#">
                            <span class="pupparazzi__sticker page__sticker">Blog post</span>
                            <img src="assets/images/pupparazzi/card_6.png" alt="Title" title="Title"/>
                        </a>
                    </div>
                    <div class="pupparazzi__description">
                        <div class="pupparazzi__title">Lorem ipsum dolor sit amet elit</div>
                        <div class="pupparazzi__date">Sarah Smith I 26th Feb</div>
                        <div class="pupparazzi__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra diam a nisi vestibulum porta ac
                                eget mi. Fusce risus ipsum, tempor at leo nec, laoreet blandit ligula. Pellentesque tincidunt nibh et
                                neque eleifend convallis. Fusce nisi orci, tincidunt at libero et, molestie gravida ex.</p>
                        </div>
                        <div class="pupparazzi__actions">
                            <a class="btn btn-outline-primary font-italic btn-brd-2" href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
