<div class="container">
    <div class="grid-view block block__space-biggest block__space-inner-bottom">
        <div class="page__row page__row-spaced">
            <div class="row">
                <div class="col col-12 col-md-6">
                    <div class="grid-view__card" style="background-image: url(assets/images/pupparazzi/grid_1.png)">
                        <span class="grid-view page__sticker page__sticker-secondary">Press</span>
                        <div class="grid-view__content">
                            <div class="grid-view__title text-primary">Lorem Ipsum dolor sit amet consectetut</div>
                            <a class="btn btn-outline-light btn-brd-2" href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-6">
                    <div class="row">
                        <div class="col col-6">
                            <div class="grid-view__card" style="background-image: url(assets/images/pupparazzi/grid_2.png)">
                                <span class="grid-view__sticker page__sticker">Blog post</span>
                                <div class="grid-view__content">
                                    <div class="grid-view__title text-primary">Lorem Ipsum dolor sit amet consectetut</div>
                                    <a class="btn btn-outline-light btn-brd-2" href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col col-6">
                            <div class="grid-view__card" style="background-image: url(assets/images/pupparazzi/grid_3.png)">
                                <span class="grid-view__sticker page__sticker page__sticker-secondary">Press</span>
                                <div class="grid-view__content">
                                    <div class="grid-view__title text-primary">Lorem Ipsum dolor</div>
                                    <a class="btn btn-outline-light btn-brd-2" href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col col-12">
                            <div class="grid-view__card" style="background-image: url(assets/images/pupparazzi/grid_4.jpg)">
                                <span class="grid-view__sticker page__sticker">Blog post</span>
                                <div class="grid-view__content">
                                    <div class="grid-view__title text-primary">Lorem Ipsum dolor</div>
                                    <a class="btn btn-outline-light btn-brd-2" href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
