{% if entry.facilitiesList|length %}
    <div class="container">
        {% for facilityBlock in entry.facilitiesList.type('facilityBlock') %}
            {% set facilitiesLoopIndex = loop.index %}
            <div class="facility">
                <div class="facility__preview">
                    <div class="facility__figure">
                        <span class="facility__sticker page__sticker">{{ facilityBlock.caption }}</span>
                        <img id="facility__sticker-img-{{ facilitiesLoopIndex }}" src="{{ facilityBlock.images.first().url }}"
                             alt="{{ facilityBlock.images.first().title }}"/>
                    </div>
                    <div class="facility__images">
                        <div class="facility__thumbs facility_{{ facilitiesLoopIndex }}">
                            {% for asset in facilityBlock.images %}
                                {% set thumbsLoopIndex = loop.index %}
                                <div class="facility__thumb{% if loop.first %} active{% endif %}"
                                     id="facility-{{ facilitiesLoopIndex }}__thumb-{{ thumbsLoopIndex }}"
                                     onClick="setActiveThumbnail(this.id, {{ facilitiesLoopIndex }}, {{ thumbsLoopIndex }})">
                                    <img id="facility__thumbsticker-img-{{ facilitiesLoopIndex }}-{{ thumbsLoopIndex }}" src="{{ asset.url }}"
                                         alt=""/>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="facility__details">
                    <div class="facility__title">{{ facilityBlock.caption }}</div>
                    <div class="facility__text">
                        {{ facilityBlock.text|nl2br|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>"
    <script type="text/javascript">
        function setActiveThumbnail(senderId, facilitiesLoopIndex, thumbsLoopIndex) {
            var thumbDivsClass = '.facility_' + facilitiesLoopIndex + ' > .facility__thumb';
            var selectedThumbDivId = '#' + senderId;
            var selectedThumbImageId = '#facility__thumbsticker-img-' + facilitiesLoopIndex + '-' + thumbsLoopIndex;
            var selectedStickerImageId = '#facility__sticker-img-' + facilitiesLoopIndex;

            $(thumbDivsClass).removeClass("active");
            $(selectedThumbDivId).addClass("active");

            $(selectedStickerImageId).attr('src', $(selectedThumbImageId).attr('src'));
        }
    </script>
{% endif %}