{% if entry.bookingPanel|length %}
    <div class="booking booking__form form">
        <div class="booking__title text-white">{{ entry.bookingPanel.panel.first().topCaption }}</div>
        <div class="booking__header">
            <a class="booking__tab active" href="#">
            <span class="booking__tab-icon">
                <svg class="icon icon-moon" width="48" height="48">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#moon"></use>
                </svg>
            </span>
                <span class="booking__tab-text">{{ entry.bookingPanel.panel.first().tab1Title }}</span>
            </a>
            <a class="booking__tab" href="#">
            <span class="booking__tab-icon">
                <svg class="icon icon-sun" width="48" height="48">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sun"></use>
                </svg>
            </span>
                <span class="booking__tab-text">{{ entry.bookingPanel.panel.first().tab2Title }}</span>
            </a>
        </div>
        <div class="booking__body">
            <div class="input-group">
                <input type="text" class="booking__control form-control form-control-lg"
                       placeholder="{{ entry.bookingPanel.panel.first().tab1Input1Caption }}">
                <input type="text" class="booking__control form-control form-control-lg"
                       placeholder="{{ entry.bookingPanel.panel.first().tab1Input2Caption }}">
                <div class="input-group-append">
                    <button class="booking__btn btn btn-secondary" type="button">
                        {{ entry.bookingPanel.panel.first().tab1SubmitButtonCaption }}
                        <svg class="icon icon-dog" width="48" height="48">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dog"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endif %}