{% if entry.featuredServices|length %}
    {% set servicesBlock = entry.featuredServices.servicesBlock.first() %}
    <div class="block block__theme-primary block__space-biggest block__space-inner">
        <div class="block__header">
            <div class="block__rate text-center">
                <svg class="icon icon-star" width="48" height="48">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
                <svg class="icon icon-star" width="48" height="48">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
                <svg class="icon icon-star icon-lg" width="48" height="48">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
                <svg class="icon icon-star" width="48" height="48">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
                <svg class="icon icon-star" width="48" height="48">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                </svg>
            </div>
            <div class="block__title text-center">{{ servicesBlock.blockTitle }}</div>
        </div>
        <div class="block__body">
            <div class="container">
                <div class="block__lead lead text-center">
                    {{ servicesBlock.caption }}
                </div>
                <div class="cards">
                    <div class="page__row page__row-spaced">
                        <div class="row">
                            {% for serviceItem in entry.featuredServices.type('serviceItem') %}
                                <div class="col col-md-4 col-12">
                                    <div class="card text-center">
                                        <div class="card__figure">
                                            {% set picture = serviceItem.picture.first() %}
                                            {% if picture %}
                                                <img class="card__img card__img-top" src="{{ picture.url }}" alt="{{ picture.title }}"/>
                                            {% endif %}
                                        </div>
                                        <div class="card__body">
                                            <div class="card__title">{{ serviceItem.caption }}</div>
                                            <div class="card__text">
                                                {{ serviceItem.text|nl2br|raw }}
                                            </div>
                                        </div>
                                        <div class="card__footer">
                                            <a class="btn btn-secondary font-italic" href="#">Find out more</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}