<div class="block block__space-biggest block__space-outer-bottom">
    <div class="block__header">
        <div class="block__title text-center">Our Happy Guests</div>
    </div>
    <div class="block__body">
        <div class="container">
            <div class="grid-view">
                <div class="page__row page__row-spaced">
                    <div class="row">
                        <div class="col col-12 col-md-6">
                            <div class="grid-view__card" style="background-image: url(assets/images/grid-view/grid_view_1.png)">
                                <span class="grid-view__sticker page__sticker">Pupparazzi gallery</span>
                                <div class="grid-view__content">
                                    <div class="grid-view__title">Mr December & friends</div>
                                    <a class="btn btn-outline-light btn-brd-2" href="#">View gallery</a>
                                </div>
                            </div>
                        </div>
                        <div class="col col-12 col-md-6">
                            <div class="row">
                                <div class="col col-6">
                                    <div class="grid-view__card" style="background-image: url(assets/images/grid-view/grid_view_2.png)">
                                        <span class="grid-view__sticker page__sticker">Pupparazzi gallery</span>
                                        <div class="grid-view__content">
                                            <div class="grid-view__title">Big Dogs</div>
                                            <a class="btn btn-outline-light btn-brd-2" href="#">View gallery</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-6">
                                    <div class="grid-view__card" style="background-image: url(assets/images/grid-view/grid_view_3.png)">
                                        <span class="grid-view__sticker page__sticker">Pupparazzi gallery</span>
                                        <div class="grid-view__content">
                                            <div class="grid-view__title">Special Guest</div>
                                            <a class="btn btn-outline-light btn-brd-2" href="#">View gallery</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-12">
                                    <div class="grid-view__card" style="background-image: url(assets/images/grid-view/grid_view_4.png)">
                                        <span class="grid-view__sticker page__sticker page__sticker-secondary">Blog video</span>
                                        <div class="grid-view__content">
                                            <div class="grid-view__title">Blog video</div>
                                            <a class="btn btn-outline-light btn-brd-2" href="#">View gallery</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-12 col-md-6">
                            <div class="row">
                                <div class="col col-6">
                                    <div class="grid-view__card" style="background-image: url(assets/images/grid-view/grid_view_5.png)">
                                        <span class="grid-view__sticker page__sticker">Pupparazzi gallery</span>
                                        <div class="grid-view__content">
                                            <div class="grid-view__title">Small Dogs</div>
                                            <a class="btn btn-outline-light btn-brd-2" href="#">View gallery</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-6">
                                    <div class="grid-view__card" style="background-image: url(assets/images/grid-view/grid_view_6.png)">
                                        <span class="grid-view__sticker">Pupparazzi gallery</span>
                                        <div class="grid-view__content">
                                            <div class="grid-view__title">Special Guest</div>
                                            <a class="btn btn-outline-light btn-brd-2" href="#">View gallery</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-12">
                                    <div class="grid-view__card" style="background-image: url(assets/images/grid-view/grid_view_7.png)">
                                        <span class="grid-view__sticker page__sticker page__sticker-secondary">Blog story</span>
                                        <div class="grid-view__content">
                                            <div class="grid-view__title">Tail of the Three Amigos</div>
                                            <a class="btn btn-outline-light btn-brd-2" href="#">View gallery</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-12 col-md-3">
                            <div class="grid-view__card" style="background-image: url(assets/images/grid-view/grid_view_8.png)">
                                <span class="grid-view__sticker page__sticker">Pupparazzi gallery</span>
                                <div class="grid-view__content">
                                    <div class="grid-view__title">Miss November & friends</div>
                                    <a class="btn btn-outline-light btn-brd-2" href="#">View gallery</a>
                                </div>
                            </div>
                        </div>
                        <div class="col col-12 col-md-3">
                            <div class="row">
                                <div class="col col-6 col-md-12">
                                    <div class="grid-view__card" style="background-image: url(assets/images/grid-view/grid_view_9.png)">
                                        <span class="grid-view__sticker page__sticker">Pupparazzi gallery</span>
                                        <div class="grid-view__content">
                                            <div class="grid-view__title">Hotel Life</div>
                                            <a class="btn btn-outline-light btn-brd-2" href="#">View gallery</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-6 col-md-12">
                                    <div class="grid-view__card" style="background-image: url(assets/images/grid-view/grid_view_10.png)">
                                        <span class="grid-view__sticker page__sticker">Pupparazzi gallery</span>
                                        <div class="grid-view__content">
                                            <div class="grid-view__title">Mr October & friends</div>
                                            <a class="btn btn-outline-light btn-brd-2" href="#">View gallery</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>