{% if entry.topCarousel|length %}
    <div class="carousel carousel__welcome owl-carousel"
         data-carousel-items="1"
         data-carousel-items-laptop="1"
         data-carousel-items-tablet="1"
         data-carousel-items-mobile="1"
         data-carousel-start-position="0"
         data-carousel-with-arrows="true"
         data-carousel-with-dots="true"
         data-carousel-navtext=''
    >
        {% for carouselBlock in entry.topCarousel.type('carouselBlock') %}
            <div class="carousel__item">
                <div class="page__cover"
                     style="background-image:url({{ carouselBlock.coverPicture.first().url }})"
                >
                    <div class="container page__cover-container">
                        <div class="page__cover-logo">
                            {% include 'partials/logo.twig' %}
                        </div>
                        <div class="page__cover-phone">
                            <span class="page__cover-phone-icon">
                                <svg class="icon icon-phone" width="48" height="48">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone"></use>
                                </svg>
                            </span>
                            <span class="page__cover-phone-text">{{ companyInfo.phoneNumber }}</span>
                        </div>
                        <div class="page__cover-content">
                            <div class="page__title page__title-small">
                                {{ carouselBlock.caption|nl2br|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}