//
// Base styles
//

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  color: $body-color;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  @include border-radius($card-border-radius);

  img {
    max-width: 100%;
    height: auto;
  }

  // Card image caps
  &__img-top {
    width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
    @include border-top-radius($card-inner-border-radius);
  }
  &__body {
    flex: 1 1 auto;
    padding: $card-spacer-x;
  }
  &__title {
    margin-bottom: $card-spacer-y;
    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
    font-style: italic;
  }
  &__text {
      font-weight: $font-weight-light;
  }
  &__footer {
    padding-left: $card-spacer-x;
    padding-right: $card-spacer-x;
    padding-bottom: $card-spacer-x;
  }

  @include media-breakpoint-up(md) {
    &__title {
      font-size: rem(20);
    }
  }
}

.cards {
  .page__row {
    .col {
      padding-right: rem(10);
      padding-left: rem(10);
      margin-bottom: rem(20);
    }
    .card {
      height: 100%;
    }
  }
}