.icon {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

    &__bottom {
        transform: rotate(180deg);
    }
}

// .icon {
//     display: inline-block;
//     width: 1rem;
//     height: 1rem;
//     vertical-align: middle;
//     background-size: cover;
//     background-position: 50% 50%;
//     background-repeat: no-repeat;

    
//     &__location {
//         background-image: url(../images/icons/location.png);
//     }
//     &__location-inverse {
//         width: rem(26);
//         height: rem(26);
//         background-image: url(../images/icons/location_inverse.png);
//     }
//     &__phone {
//         background-image: url(../images/icons/phone.png);
//     }
//     &__phone-inverse {
//         width: rem(32);
//         height: rem(32);
//         background-image: url(../images/icons/phone_inverse.png);
//     }
//     &__email {
//         background-image: url(../images/icons/email.png);
//     }
//     &__twitter {
//         width: rem(27);
//         height: rem(27);
//         background-image: url(../images/icons/twitter.png);
//     }
//     &__facebook {
//         width: rem(26);
//         height: rem(26);
//         background-image: url(../images/icons/facebook.png);
//     }
//     &__youtube {
//         width: rem(47);
//         height: rem(19);
//         background-image: url(../images/icons/youtube.png);
//     }
//     &__instagram {
//         width: rem(34);
//         height: rem(34);
//         background-image: url(../images/icons/instagram.png);
//     }
//     &__chevron {
//         background-image: url(../images/icons/chevron.png);
//     }
//     &__boarding {
//         width: rem(19);
//         height: rem(19);
//         background-image: url(../images/icons/boarding.png);
//     }
//     &__care {
//         width: rem(19);
//         height: rem(19);
//         background-image: url(../images/icons/care.png);
//     }
// }