.about {
    &__maps {
        margin-bottom: rem(50);
    }
    &__map {
        position: relative;
        border-bottom: 2px solid $primary;
        iframe {
            display: block;
        }
        &:last-child {
            border-right: 0;
            border-bottom: 0;
        }
    }
    &__map-sticker {
        position: absolute;
        top: rem(20);
        left: 0;
        padding: rem(3) rem(10);
        font-size: rem(10);
        color: $white;
        border-top-right-radius: rem(10);
        border-bottom-right-radius: rem(10);
        background-color: $primary;
    }

    @include media-breakpoint-up(sm) {
        &__map-sticker {
            font-size: rem(12);
        }
    }
    @include media-breakpoint-up(md) {
        &__maps {
            display: flex;
            margin-bottom: rem(60);
        }
        &__map {
            flex: 2 0 50%;
            max-width: 50%;
            border-right: 2px solid $primary;
            border-bottom: 0;
            &:last-child {
                border-right: 0;
            }
        }
        &__map-sticker {
            font-size: $font-size-sm;
            padding: rem(8) rem(18);
        }
    }
}