.account {
    $_: '.account';

    &__block {
        margin-bottom: rem(50);
    }
    &__header {
        margin-bottom: rem(12);
    }
    &__title {
        font-size: rem(28);
        font-weight: $font-weight-light;
    }
    &__subtitle {
        margin-bottom: rem(20);
        padding-bottom: 2px;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-sm;
        border-bottom: 1px solid lighten($primary, 30%);
    }
    &__nav {
        padding-top: rem(16);
        font-size: $font-size-sm;
        font-weight: $font-weight-light;
        a {
            display: inline-block;
            line-height: 1.1;
            padding: 0 rem(10);
            border-right: 1px solid $primary;
            &:last-child {
                border-right: 0;
                padding-right: 0;
            }
            &:first-child {
                padding-left: 0;
            }
        }
    }
    &__card {
        margin-bottom: rem(30);
        display: flex;
        flex-direction: column;
        height: 100%;
        border: 2px solid $primary;
    }
    &__card-header {
        padding-top: rem(15);
    }
    &__card-body {
        position: relative;
        padding: rem(16);
        flex-grow: 2;
    }
    &__card-footer {
        padding-bottom: rem(15);
        text-align: center;
    }
    &__card-empty {
        border-style: dashed;
    }
    &__card-transparent {
        border: 0;
    }
    &__btn-empty {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &__guest {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__guest-figure {
        flex: 0 0 85px;
        max-width: 85px;
        img {
            border: 2px solid $primary;
            border-radius: 50%;
        }
    }
    &__guest-name {
        padding-left: rem(12);
        font-size: rem(28);
        font-weight: $font-weight-semi-bold;
        color: $primary;
    }
    &__table {
        width: 100%;
        th, td {
            padding: rem(6);
            font-size: $font-size-sm;
        }
        th {
            color: $primary;
            font-weight: $font-weight-semi-bold;
        }
        td {
            color: $gray-500;
            a {
                color: inherit;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__block {
            margin-bottom: rem(60);
        }
        &__title {
            font-size: rem(48);
        }
        &__subtitle, &__nav {
            font-size: rem(18);
        }
        &__subtitle {
            margin-bottom: rem(30);
        }
        &__card-header {
            padding-top: rem(24);
        }
        &__card-footer {
            padding-bottom: rem(24);
        }
        &__guest-figure {
            flex: 0 0 116px;
            max-width: 116px;
            img {
                border-width: 5px;
            }
        }
        &__guest-name {
            padding-left: rem(20);
            font-size: rem(32);
        }
        &__table {
            th, td {
                font-size: rem(18);
            }
        }
    }
    @include media-breakpoint-up(lg) {
        &__header {
            margin-bottom: rem(16);
            display: flex;
            align-items: center;
        }
        &__nav {
            padding-top: rem(0);
            margin-left: auto;
        }
    }
}