.auth {
    $_: '.auth';
    padding-bottom: rem(50);

    &__container {
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;
    }
    &__section {
        border-top: 1px solid $primary;
        padding-top: rem(20);
    }
    &__title {
        margin-bottom: rem(50);
        line-height: 1.2;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-sm;
    }
    &__fieldrow {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: rem(20);
    }
    &__label {
        flex:2 0 100%;
        max-width: 100%;
        font-size: $font-size-sm;
        margin-bottom: rem(12);
    }
    &__field-icon {
        padding-left: rem(10);
        color: $primary;
        .icon {
            font-size: 1.5rem;
        }
    }
    &__col-grow {
        flex-grow: 2;
    }

    @include media-breakpoint-up(md) {
        padding-bottom: rem(60);
        &__section {
            padding-top: rem(30);
        }
        &__title {
            margin-bottom: rem(60);
            font-size: rem(18);
        }
        &__fieldrow {
            flex-wrap: wrap;
            margin-bottom: rem(30);
        }
        &__field {
            padding-left: rem(24);
        }
        &__label {
            margin-bottom: 0;
            font-size: rem(18);
            flex: 0 0 30%;
            max-width: 30%;
        }
    }
}