.bar {
    $_: '.bar';
    display: inline-block;
    cursor: pointer;

    &__icon {
        display: block;
        height: 0.125rem;
        width: 1.375rem;
        margin-top: 0.25rem;
        -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1) 0ms;
        transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1) 0ms;
        background: $white;

        &:first-child {
            margin-top: 0;
        }
    }

    &.active {
        position: relative;
        top: -4px;
        #{$_}__icon {
            &:first-child {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                margin-top: -2px;
                transform: rotate(-45deg);
            }
            &:nth-child(3) {
                display: none;
            }
        }
    }
}