.block {
    $_: '.block';

    &__header {
        margin-bottom: rem(20);
    }
    &__title {
        line-height: 1.1;
        margin-top: 0;
        font-size: rem(24);
        font-weight: $font-weight-light;
    }
    &__space-outer {
        margin-top: rem(24);
        margin-bottom: rem(24);
    }
    &__space-outer-top {
        margin-top: rem(24);
    }
    &__space-outer-bottom {
        margin-bottom: rem(24);
    }
    &__space-inner {
        padding-top: rem(24);
        padding-bottom: rem(24);
    }
    &__space-inner-top {
        padding-top: rem(24);
    }
    &__space-inner-bottom {
        padding-bottom: rem(24);
    }
    &__space-biggest {
        &#{$_}__space-outer {
            margin-top: rem(32);
            margin-bottom: rem(32);
        }
        &#{$_}__space-top {
            margin-top: rem(32);
        }
        &#{$_}__space-botom {
            margin-bottom: rem(32);
        }
        &#{$_}__space-inner {
            padding-top: rem(32);
            padding-bottom: rem(32);
        }
        &__space-inner-top {
            padding-top: rem(32);
        }
        &__space-inner-bottom {
            padding-bottom: rem(32);
        }
    }
    &__order {
        text-align: center;
        background: #e1d5c7 url(../images/block/order_background.png) no-repeat 50% 50%;
        background-size: cover;

        #{$_}__phone {
            padding-top: rem(4);
            font-size: rem(24);
            color: $primary;
            font-weight: $font-weight-semi-bold;
        }
    }
    &__rate {
        margin-bottom: rem(10);
        .icon {
            font-size: 2rem;
            margin: rem(-6);
            color: $secondary;
            stroke: #f9d202;
            stroke-width: 2;
        }
        .icon-lg {
            font-size: 3.25rem;
            margin: rem(-8);
        }
    }
    &__lead {
        margin-bottom: rem(32);
    }

    &__video {
        position: relative;
    }
    &__video-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        cursor: pointer;
        background: $primary;
        .icon {
            font-size: 3rem;
        }
    }

    &__header-nav {
        a {
            display: inline-block;
            line-height: 1.2;
            padding: 0 rem(10);
            font-size: $font-size-sm;
            color: $gray-400;
            border-right: 2px solid $primary;
            &.active {
                color: $primary;
                font-weight: $font-weight-semi-bold;
            }
            &:last-child {
                border-right: 0;
            }
        }
    }

    &__brd {
        border-bottom: 1px solid lighten($primary, 35%);
    }

    &__theme-gray {
        background-color: $gray-100;
    }
    &__theme-primary {
        color: $white;
        background-color: $primary;
    }

    @include media-breakpoint-down(xs) {
        &__order {
            #{$_}__body {
                padding-top: rem(140);
                padding-bottom: rem(160);
            }
        }
    }
    @include media-breakpoint-up(sm) {
        &__order {
            #{$_}__body {
                padding-top: rem(150);
                padding-bottom: rem(160);
            }
        }
    }
    @include media-breakpoint-up(md) {
        &__title {
            font-size: rem(48);
        }
        &__order {
            #{$_}__body {
                padding-top: rem(160);
                padding-bottom: rem(180);
            }
        }
        &__space-outer {
            margin-top: rem(32);
            margin-bottom: rem(32);
        }
        &__space-outer-top {
            margin-top: rem(32);
        }
        &__space-outer-bottom {
            margin-bottom: rem(32);
        }
        &__space-inner {
            padding-top: rem(32);
            padding-bottom: rem(32);
        }
        &__space-inner-top {
            padding-top: rem(32);
        }
        &__space-inner-bottom {
            padding-bottom: rem(32);
        }
        &__space-biggest {
            &#{$_}__space-outer {
                margin-top: rem(48);
                margin-bottom: rem(48);
            }
            &#{$_}__space-outer-top {
                margin-top: rem(48);
            }
            &#{$_}__space-outer-bottom {
                margin-bottom: rem(48);
            }
            &#{$_}__space-inner {
                padding-top: rem(48);
                padding-bottom: rem(48);
            }
            &__space-inner-top {
                padding-top: rem(48);
            }
            &__space-inner-bottom {
                padding-bottom: rem(48);
            }
        }
        &__lead {
            margin-bottom: rem(48);
        }
        &__video-play {
            .icon {
                font-size: 5rem;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        #{$_}__phone {
            padding-top: rem(14);
        }
        &__order {
            #{$_}__body {
                padding-top: rem(170);
                padding-bottom: rem(200);
            }
        }
    }
    @include media-breakpoint-up(xl) {
        &__order {
            #{$_}__body {
                padding-top: rem(180);
                padding-bottom: rem(220);
            }
        }
    }
}