.booking {
    $_ : '.booking';

    &__section {
        padding-top: rem(18);
        padding-bottom: rem(18);
        border-top: 1px solid $primary;
    }
    &__title, &__subtitle {
        font-size: $font-size-sm;
    }
    &__title {
        margin-bottom: rem(50);
        line-height: 1.2;
        font-weight: $font-weight-semi-bold;
    }
    &__subtitle {
        margin-bottom: rem(20);
        font-weight: $font-weight-light;
    }

    &__invoice {
        border: 2px solid $primary;
    }
    &__invoice-body, &__invoice-footer {
        padding: 0.75rem;
    }
    &__invoice-body {
        border-bottom: 1px solid $primary;
    }
    &__table {
        width: 100%;
        th, td {
            padding-bottom: rem(8);
        }
        th {
            padding-right: rem(10);
            font-weight: $font-weight-semi-bold;
            color: $primary;
        }
        td {
            color: $gray-500;
            text-align: right;
        }
    }
    &__total {
        line-height: 1.1;
        margin-bottom: rem(50);
        font-weight: $font-weight-bold;
        font-size: rem(22);
    }

    &__guests {
        display: flex;
        flex-wrap: wrap;
        max-width: 300px;
        margin-left: auto;
    }
    &__guest {
        flex: 2 0 50%;
        max-width: 50%;
        padding: 0 rem(10);
        margin-bottom: rem(30);
        text-align: center;
        cursor: pointer;

        &.active {
            #{$_}__guest-figure {
                img {
                    border-color: $primary;
                }
            }
            #{$_}__guest-status {
                border-color: $primary;
                .icon {
                    color: $primary;
                }
            }
            #{$_}__guest-name {
                color: $primary;
            }
            #{$_}__guest-status {
                display: block;
            }
        }
    }
    &__guest-figure {
        position: relative;
        display: inline-block;
        max-width: 200px;
        margin-bottom: rem(12);
        img {
            border-radius: 50%;
            border:2px solid $gray-400;
        }
    }
    &__guest-status {
        display: none;
        position: absolute;
        top: rem(4);
        right: rem(4);
        border: 2px solid $gray-400;
        border-radius: 50%;
        .icon {
            font-size: rem(24);
            color: $gray-400;
        }
    }
    &__guest-name {
        font-weight: $font-weight-semi-bold;
        font-size: rem(16);
        color: $gray-400;
    }

    &__form {
        position: relative;
        z-index: 2;
        max-width: 740px;
        margin-top: rem(-102);
        margin-left: rem(20);
        margin-right: rem(20);
        #{$_}__title {
            margin-bottom: rem(16);
            font-weight: $font-weight-medium;
            font-size: rem(24);
            font-style: italic;
            text-align: center;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        }
        #{$_}__header {
            display: flex;
        }
        #{$_}__tab {
            display: flex;
            flex-grow: 2;
            justify-content: center;
            align-items: center;
            padding: rem(8) rem(8);
            font-size: $font-size-sm;
            font-weight: $font-weight-semi-bold;
            font-style: italic;
            color: $white;
            background-color: $primary;
            &:first-child {
                border-top-left-radius: rem(10);
            }
            &:last-child {
                border-top-right-radius: rem(10);
            }
            &.active {
                background-color: darken($primary, 8%);
            }
        }
        #{$_}__tab-icon {
            margin-right: rem(8);
            .icon {
                font-size: rem(20);
                stroke-width: 1;
            }
            .icon-sun {
                stroke-width: 3;
            }
        }
        #{$_}__body {
            padding: rem(18) rem(18);
            border-bottom-right-radius: rem(10);
            border-bottom-left-radius: rem(10);
            background-color: darken($primary, 8%);
        }
        #{$_}__control {
            min-width: 0;
            padding-left: rem(48);
            color: $black;
            border-right-width: 2px;
            background-color: $gray-200;
            background-image: url(../images/icons/calendar.png);
            background-position: 18px 50%;
            background-repeat: no-repeat;
            &:focus {
                background-color: $white;
            }

            &::placeholder {
                font-weight: $font-weight-semi-bold;
                font-style:italic;
                color: $black;
            }
        }
        #{$_}__btn {
            position: relative;
            font-style: italic;
            font-size: $font-size-sm;
            .icon {
                position: absolute;
                top: rem(-26);
                left: 50%;
                transform: translate(-50%, 0);
                font-size: rem(48);
                color: lighten($secondary, 27%);
            }
        }
    }

    @include media-breakpoint-down(md) {
        &__form {
            #{$_}__control {
                padding: rem(4) rem(12) rem(4) rem(36);
                font-size: $font-size-sm;
                background-position: 8px 50%;
            }
        }
    }
    @include media-breakpoint-up(md) {
        &__section {
            padding-top: rem(28);
            padding-bottom: rem(28);
        }
        &__title, &__subtitle {
            font-size: rem(22);
        }
        &__title {
            margin-bottom: rem(60);
        }
        &__subtitle {
            font-weight: $font-weight-normal;
        }
        &__fields {
            margin-left: auto;
        }
        &__invoice-body, &__invoice-footer {
            padding: 1.5rem;
        }
        &__total {
            font-size: rem(32);
        }
        &__guest-figure {
            img {
                border-width: 5px;
            }
        }
        &__guest-status {
            top: rem(4);
            right: rem(4);
            .icon {
                font-size: rem(32);
            }
        }
        &__guest-name {
            font-size: rem(18);
        }
        &__form {
            margin-left: auto;
            margin-right: auto;
        }
    }
    @include media-breakpoint-up(lg) {
        &__form {
            #{$_}__tab {
                padding: rem(11) rem(8);
                font-size: rem(18);
            }
            #{$_}__tab-icon {
                margin-right: rem(12);
                .icon {
                    font-size: rem(32);
                }
            }
            #{$_}__body {
                padding: rem(30) rem(42);
            }
            #{$_}__btn {
                font-size: $font-size-lg;
                .icon {
                    top: rem(-52);
                    font-size: rem(100);
                }
            }
        }
    }
    @include media-breakpoint-up(xl) {
        &__fieldset {
            display: flex;
        }
    }
}