.carousel {
    $_: '.carousel';

    &__item {
        text-align: center;
    }
    &__item {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .page__cover {
        flex-grow: 2;
    }

    &__welcome {
        .owl-dots {
            display: block;
            position: absolute;
            bottom: rem(100);
            left: 0;
            right: 0;
            text-align: center;
        }
        .owl-dot {
            position: relative;
            display: inline-block;
            width: rem(8);
            height: rem(8);
            margin: 0 rem(8);
            border-radius: 50%;
            background-color: $white;
            &:after {
                content: '';
                position: absolute;
                top: -4px;
                bottom: -4px;
                left: -4px;
                right: -4px;
                border: 2px solid transparent;
                border-radius: 50%;
            }

            &.active {
                background-color: $primary;
                &:after {
                    border-color:$primary;
                }
            }
        }
    }

    &__testimonial {
        .owl-dots {
            display: block;
            padding-top: rem(48);
            text-align: center;
        }
        .owl-dot {
            position: relative;
            display: inline-block;
            width: rem(8);
            height: rem(8);
            margin: 0 rem(8);
            border-radius: 50%;
            background-color: $gray-400;
            &:after {
                content: '';
                position: absolute;
                top: -4px;
                bottom: -4px;
                left: -4px;
                right: -4px;
                border: 2px solid transparent;
                border-radius: 50%;
            }

            &.active {
                background-color: $primary;
                &:after {
                    border-color:$primary;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__welcome {
            .owl-dots {
                bottom: rem(120);
            }
        }
    }
    @include media-breakpoint-up(xl) {
        &__welcome {
            .owl-dots {
                bottom: rem(120);
            }
        }
    }
}

.owl-carousel {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    width: 100%;
    z-index: 1;
}
.owl-stage-outer {
    position: relative;
    overflow: hidden;
}
.owl-stage {
    position: relative;
    display: flex;
    align-items: stretch;
}
.owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    user-select: none;
}
.owl-nav.disabled {
    display: none;
}
.owl-prev, .owl-next {
    cursor: pointer;
    @include transition($btn-transition);

    &.disabled {
        display: none;
    }
}
.owl-dots {
    display: none;
}
.owl-dot {
    padding: 0;
    border: 0;
}
.owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}