.contact {
    $_ : '.contact';
    position: relative;

    &__map {
        iframe {
            display: block;
        }
    }

    &__block {
        position: absolute;
        top: 212px;
        left: rem(32);
        right: rem(32);
        padding: rem(64) rem(40) rem(30);
        background-color: $white;
        .page__sticker {
            position: absolute;
            left: 0;
            top: rem(16);
        }
    }
    &__title {
        line-height: 1.1;
        margin-bottom: rem(16);
        font-weight: $font-weight-semi-bold;
        font-size: rem(22);
    }
    &__items {
        margin-bottom: rem(24);
    }
    &__item {
        margin-bottom: rem(20);
        font-size: $font-size-sm;
        text-align: center;
        .icon {
            font-size: rem(20);
            color: $primary;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        &__block {
            position: absolute;
            top: 100px;
            left: 130px;
            right: auto;

            padding: rem(110) rem(70) rem(60);
            .page__sticker {
                top: rem(24);
            }
        }
        &__title {
            font-size: rem(28);
            margin-bottom: rem(28);
        }
        &__items {
            margin-bottom: rem(40);
        }
        &__item {
            position: relative;
            padding-left: rem(40);
            margin-bottom: rem(40);
            text-align: left;
            .icon {
                position: absolute;
                left: 0;
                top: -6px;
                font-size: rem(32);
            }
        }
    }
}