.facility {
    $_: '.service';

    margin-bottom: rem(50);

    &__title {
        line-height: 1.1;
        margin-bottom: rem(10);
        font-weight: $font-weight-light;
        font-size: rem(28);
    }
    &__text {
        font-size: $font-size-sm;
    }
    &__preview, &__figure {
        margin-bottom: rem(20);
    }
    &__figure {
        position: relative;
    }
    &__sticker {
        position: absolute;
        top: rem(12);
        left: 0;
        padding: rem(3) rem(10);
        font-size: rem(10);
        color: $white;
        border-top-right-radius: rem(11);
        border-bottom-right-radius: rem(11);
        background-color: $primary;
    }
    &__phone {
        margin-bottom: rem(18);
        font-size: rem(16);
        color: $primary;
        font-weight: $font-weight-bold;
    }
    &__thumbs {
        display: flex;
    }
    &__thumb {
        cursor: pointer;
        opacity: 0.4;
        &.active, &:hover {
            opacity: 1;
        }
    }

    @include media-breakpoint-down(sm) {
        &__thumbs {
            justify-content: space-between;
        }
        &__thumb {
            flex: 0 0 30%;
        }
    }
    @include media-breakpoint-up(md) {
        display: flex;
        align-items: flex-start;
        margin-bottom: rem(60);
        &__details {
            display: flex;
            flex-direction: column;
            flex: 2 0 49%;
            max-width: 49%;
            padding-left: rem(20);
        }
        &__title {
            font-size: rem(48);
        }
        &__text {
            flex-grow: 2;
            font-size: rem(16);
        }
        &__sticker {
            top: rem(20);
            padding: rem(8) rem(20);
            font-size: $font-size-sm;
            border-top-right-radius: rem(19);
            border-bottom-right-radius: rem(19);
        }
        &__action {
            .btn {
                margin-right: rem(12);
            }
        }
        &__preview {
            display: flex;
            flex-direction: row-reverse;
            flex: 0 0 51%;
            max-width: 51%;
        }
        &__figure {
            flex: 0 0 74%;
            max-width: 74%;
            margin-bottom: 0;
        }
        &__images {
            flex: 0 0 26%;
            max-width: 26%;
            padding-right: rem(20);
        }
        &__thumbs {
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
        }
        &__thumb {
            flex: 0 0 auto;
        }
    }
}