.flat-grid-view {
    $_: '.flat-grid-view';

    &__card {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: rem(200);
        color: $white;
        text-align: center;
        background-image: url(../images/flat-grid-view/flat_grid_view_1.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    &__title, &__phone {
        line-height: 1.1;
        margin-bottom: rem(4);
        font-weight: $font-weight-medium;
        font-style: italic;
        text-shadow: 0 2px 2px rgba($black, 0.3);
    }
    &__title {
        font-size: $font-size-lg;
    }
    &__phone {
        font-size: $font-size-sm;
    }
    &__button {
        padding-top: rem(5);
    }

    @include media-breakpoint-up(sm) {
        &__card {
            min-height: rem(250);
        }
        &__title {
            font-size: rem(24);
        }
        &__phone {
            font-size: rem(18);
        }
    }
    @include media-breakpoint-up(md) {
        &__card {
            min-height: rem(300);
        }
        &__title, &__phone {
            margin-bottom: rem(8);
        }
        &__title {
            font-size: rem(32);
        }
        &__phone {
            font-size: rem(24);
        }
        &__button {
            padding-top: rem(10);
        }
    }
    @include media-breakpoint-up(lg) {
        &__card {
            min-height: rem(350);
        }
        &__title {
            font-size: rem(48);
        }
        &__phone {
            font-size: rem(28);
        }
    }
    @include media-breakpoint-up(xl) {
        &__card {
            min-height: rem(410);
        }
        &__title {
            font-size: rem(60);
        }
        &__phone {
            font-size: rem(32);
        }
    }
}