.footer {
    $_: '.footer';

    color: $white;
    background-color: $gray-800;

    &__container {
        display: flex;
    }
    &__phone {
        display: flex;
        align-items: center;
        margin-bottom: rem(12);
    }
    &__phone-icon {
        line-height: 1;
        margin-right: rem(6);
        font-size: 1.25rem;
    }
    &__phone-text {
        font-weight: $font-weight-semi-bold;
        font-style: italic;
    }
    &__address {
        margin-bottom: rem(20);
        font-size: $font-size-sm;
    }
    &__networks {
        display: flex;
        align-items: center;
        a {
            display: inline-block;
        }
        .icon {
            font-size: 3rem;
        }
    }
    &__copyright {
        color: #868686;
        background-color: $black;
    }

    @include media-breakpoint-down(sm) {
        &__contacts {
            flex: 2 0 100%;
            max-width: 100%;
            text-align: center;
        }
        &__logo {
            .logo {
                display: inline-block;
                width: 154px;
            }
        }
    }
    @include media-breakpoint-down(md) {
        &__container, &__phone {
            justify-content: center;
        }
        &__contacts {
            flex: 2 0 100%;
            max-width: 100%;
            text-align: center;
        }
        &__navigation {
            margin: rem(30) rem(20);
            .navigation__item {
                color: #adadad;
            }
        }
        &__logo {
            margin-bottom: rem(20);
        }
    }
    @include media-breakpoint-only(lg) {
        &__contacts {
            margin-right: auto;
        }
        &__navigation {
            margin-left: rem(100);
        }
    }
    @include media-breakpoint-down(lg) {
        &__data {
            padding-top: rem(40);
            padding-bottom: rem(30);
        }
        &__container {
            flex-wrap: wrap;
        }
        &__form {
            flex: 2 0 100%;
            max-width: 100%;
            text-align: center;
            .form {
                max-width: 294px;
                margin: auto;
            }
            .form__label {
                display: none;
            }
            .form__input {
                flex-grow: 2;
            }
        }
        &__networks {
            padding-bottom: rem(20);
            justify-content: center;
            a {
                margin: 0 rem(8);
            }
        }
        &__copyright {
            padding: rem(6) 0;
            font-size: rem(12);
        }
    }
    @include media-breakpoint-up(xl) {
        &__data {
            padding-top: rem(75);
        }
        &__logo {
            margin-bottom: rem(20);
        }
        &__form {
            margin-left: auto;
            text-align: right;
        }
        &__copyright {
            padding-top: rem(18);
            padding-bottom: rem(18);
        }
        &__networks {
            padding-bottom: rem(66);
        }
        &__navigation {
            margin-left: rem(108);
        }
    }
}