.form {
    $_: '.form';

    &__newsletter {
        #{$_}__title {
            line-height: 1.3;
            margin-bottom: rem(20);
            font-size: rem(24);
            font-weight: $font-weight-light;
        }
        #{$_}__field {
            display: flex;
            align-items: center;
            margin-bottom: rem(20);
        }
        #{$_}__label {
            margin-bottom: 0;
            margin-right: rem(9);
            font-weight: $font-weight-normal;
            font-size: $font-size-sm;
            color: $white;
        }

        .form-control {
            color: $white;
            border: 2px solid $gray-500;
            background: transparent;
        }
    }
}