.grid-view {
    $_: '.grid-view';

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 180px;
        color: $white;
        background-image: url(../images/grid-view/grid_view_1.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    &__content {
        margin-top: auto;
        padding: rem(12) rem(10);
    }
    &__title {
        line-height: 1.1;
        margin-bottom: rem(14);
        font-weight: $font-weight-medium;
        font-size: rem(14);
        font-style: italic;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }
    &__sticker {
        position: absolute;
        top: rem(20);
        left: 0;
        padding: rem(3) rem(10);
        font-size: rem(10);
        border-top-right-radius: rem(10);
        border-bottom-right-radius: rem(10);
        background-color: $primary;
    }
    &__sticker-secondary {
        background-color: $secondary;
    }

    @include media-breakpoint-down(sm) {
        &__card {
            min-height: 220px;
        }
        .page__row-spaced {
            .col {
                margin-bottom: rem(20);
                .col {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                &:last-child {
                    .col-6 {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(sm) {
        &__card {
            min-height: 200px;
        }
        &__sticker {
            font-size: rem(12);
        }
    }
    @include media-breakpoint-up(md) {
        &__card {
            min-height: 220px;
        }
        .page__row-spaced {
            >.row>.col {
                margin-top: rem(10);
                margin-bottom: rem(10);
                .col {
                    &:last-child {
                        margin-top: rem(20);
                    }
                }
            }
        }
        &__sticker {
            font-size: $font-size-sm;
            padding: rem(8) rem(18);
        }
        &__title {
            font-size: rem(24);
        }
        &__content {
            padding: rem(24) rem(20);
        }
    }
    @include media-breakpoint-up(lg) {
        &__card {
            min-height: 260px;
        }
    }
    @include media-breakpoint-up(xl) {
        &__card {
            min-height: 280px;
        }
    }
}