.header {
    $_: '.header';
    color: $white;
    background-color: darken($green, 38.4%);

    &__container, &__address {
        display: flex;
        align-items: center;
    }
    &__container {
        position: relative;
        padding-top: rem(14);
        padding-bottom: rem(14);
    }
    &__logo {
        padding-top: rem(12);
        padding-bottom: rem(12);
        text-align: center;
        background-color: darken($primary, 40%);
        .logo {
            display: inline-block;
            width: 72px;
        }
    }

    .btn {
        padding: 0.1875rem 0.875rem
    }

    @include media-breakpoint-down(lg) {
        &__container {
            padding-top: rem(7);
            padding-bottom: rem(7);
        }
        &__bar {
            position: relative;
            margin-left: auto;
            z-index: 4;
            &.open {
                z-index: 5;
            }
        }
        &__migrant {
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            width: 320px;
            z-index: 3;
            text-align: center;
            color: $primary;
            background-color: $white;
            &.open {
                display: block;
                z-index: 4;
            }
        }
        &__address-text {
            font-size: rem(11);
        }
        &__address-icon {
            margin-right: rem(4);
            .icon {
                font-size: rem(22);
            }
        }
        &__auth, &__phone, &__networks {
            border-bottom: 1px solid $gray-300;
            &:last-child {
                border-bottom: 0;
            }
        }
        &__auth {
            padding-top: rem(4);
            padding-bottom: rem(4);
            .btn-outline-light {
                color: $primary;
                border-color: $primary;
            }
        }
        &__phone, &__networks {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__phone {
            padding-top: rem(9);
            padding-bottom: rem(9);
        }
        &__phone-text {
            font-weight: $font-weight-semi-bold;
        }
        &__phone-icon {
            margin-right: rem(6);
            .icon {
                font-size: rem(18);
            }
        }
        &__phone-text {
            font-size: $font-size-sm;
        }
        &__networks {
            padding-top: rem(8);
            padding-bottom: rem(8);
            a {
                color: $primary;
            }
            .icon {
                font-size: 2.125rem;
            }
        }
        &__overlay {
            display: none;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 3;
            background-color: rgba($black, 0.75);
            &.open {
                display: block;
            }
        }
    }
    @include media-breakpoint-up(xl) {
        &__container {
            padding-top: rem(14);
            padding-bottom: rem(14);
        }
        &__bar {
            display: none;
        }
        &__migrant {
            display: flex;
            align-items: center;
            margin-left: auto;
        }
        &__navigation {
            margin-right: rem(12);
        }
        &__address-text {
            font-size: $font-size-sm;
        }
        &__address-icon {
            margin-right: rem(4);
            .icon {
                font-size: rem(32);
            }
        }
        &__overlay, &__logo, &__phone, &__networks {
            display: none;
        }
    }
}