.navigation {
    $_: '.navigation';

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    &__footer {
        #{$_}__list {
            display: flex;
            flex-direction: column;
        }
        #{$_}__item {
            display: inline-block;
            margin-bottom: 1px;
        }
        #{$_}__link {
            font-size: $font-size-sm;
            color: inherit;
        }
    }

    @include media-breakpoint-down(lg) {
        &__header {
            #{$_}__item {
                border-bottom: 1px solid $gray-300;
                &.active {
                    #{$_}__link {
                        color: $white;
                        background-color: $primary;
                    }
                }
            }
            #{$_}__link {
                display: block;
                padding: rem(8) rem(24);
                font-weight: $font-weight-semi-bold;
                text-transform: uppercase;
                &:hover {
                    color: $white;
                    text-decoration: none;
                    background-color: $primary;
                }
            }
        }
    }
    @include media-breakpoint-up(xl) {
        &__header {
            #{$_}__list {
                display: flex;
            }
            #{$_}__item {
                display: inline-block;
                border-left: 1px solid darken($primary, 25%);
                &.active {
                    #{$_}__link {
                        color: $primary;
                        background-color: $white;
                    }
                }
            }
            #{$_}__link {
                display: inline-block;
                padding: rem(4) rem(12);
                font-size: $font-size-sm;
                border: 1px solid transparent;
                color: inherit;
                text-transform: uppercase;
                border-radius: $border-radius;
                &:hover {
                    border-color: $white;
                    text-decoration: none;
                }
            }
        }
    }
}