.page {
    $_: '.page';

    img {
        max-width: 100%;
        height: auto;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    &__content {
        flex-grow: 2;
    }
    &__main {
        padding-top: rem(40);
    }
    &__footer {
        margin-top: auto;
    }

    &__title {
        font-size: rem(18);
        font-weight: $font-weight-semi-bold;
        color: $gray-200;
        text-shadow: 0 1px 1px rgba(black, 0.3);
    }

    &__cover {
        color: $white;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__cover-container {
        position: relative;
    }
    &__cover-logo {
        position: absolute;
        top: rem(12);
        left: 0;
        z-index: 2;
    }
    &__cover-phone {
        position: absolute;
        top: rem(12);
        right: 0;
        z-index: 2;
        display: flex;
        align-items: center;
    }
    &__cover-phone-icon {
        margin-right: rem(10);
    }
    &__cover-phone-text {
        text-shadow: 0 1px 1px rgba(black, 0.2);
    }
    &__cover-content {
        padding-top: rem(190);
        padding-bottom: rem(160);
        text-align: center;
    }

    &__row {
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        .col {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__row-spaced {
        .row {
            margin-left: rem(-5);
            margin-right: rem(-5);
        }
        .col {
            padding-left: rem(5);
            padding-right: rem(5);
        }
    }

    &__sticker {
        padding: rem(2) rem(8);
        line-height: 1.3;
        font-size: rem(10);
        color: $white;
        border:1px solid $primary;
        border-top-right-radius: rem(10);
        border-bottom-right-radius: rem(10);
        background-color: $primary;
    }
    &__sticker-secondary {
        border-color: $secondary;
        background-color: $secondary;
    }
    &__sticker-inverse {
        color: $primary;
        border-color: $white;
        background-color: $white;
    }

    @include media-breakpoint-down(lg) {
        &__cover-phone-text {
            font-size: rem(28);
        }
        &__cover-phone-icon {
            margin-right: rem(4);
            .icon {
                font-size: rem(32);
            }
        }
        &__cover-logo {
            .logo {
                width: 120px;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        &__cover-logo {
            .logo {
                width: 72px;
            }
        }
        &__cover-phone-text {
            font-size: $font-size-sm;
        }
        &__cover-phone-icon {
            margin-right: rem(5);
            .icon {
                font-size: rem(16);
            }
        }
    }
    @include media-breakpoint-down(xs) {
        &__cover-logo {
            left: rem(15);
        }
        &__cover-phone {
            right: rem(15);
        }
    }
    @include media-breakpoint-up(md) {
        &__cover-content {
            padding-top: rem(120);
            padding-bottom: rem(140);
        }
        &__title {
            font-size: rem(30);
        }
        &__row-spaced {
            .row {
                margin-left: rem(-10);
                margin-right: rem(-10);
            }
            .col {
                padding-left: rem(10);
                padding-right: rem(10);
            }
        }
        &__sticker {
            padding: rem(8) rem(18);
            font-size: $font-size-sm;
            border-top-right-radius: rem(18);
            border-bottom-right-radius: rem(18);
        }
    }
    @include media-breakpoint-up(lg) {
        &__main {
            padding-top: rem(56);
        }
        &__cover-logo {
            top: rem(28);
        }
        &__cover-content {
            padding-top: rem(140);
            padding-bottom: rem(160);
        }
        &__title {
            font-size: rem(38);
        }
        &__cover-phone {
            top: rem(28);
        }
        &__cover-phone-text {
            font-size: rem(38);
        }
        &__cover-phone-icon {
            .icon {
                font-size: rem(42);
            }
        }
    }
    @include media-breakpoint-up(xl) {
        &__cover-content {
            padding-top: rem(190);
            padding-bottom: rem(190);
        }
        &__title {
            font-size: rem(46);
        }
    }
}

html, body {
    height: 100%;
}

@media print {
    .page__header, .footer__navigation, .footer__form, .footer__networks, .footer__copyright, .no-print {
        display: none !important;
    }
    .footer__data {
        padding-top: 0;
    }
}
