.payment {
    $_: '.payment';

    &__section {
        padding: rem(24) 0;
        border-top: 1px solid rgba($primary, 0.8);
        &:last-child {
            padding-top: rem(32);
        }
    }
    &__container {
        max-width: 520px;
        margin: 0 auto;
    }
    &__title, &__invoice-label, &__invoice-value, &__text, &__postview-label, &__contact-title {
        font-size: $font-size-sm;
    }
    &__title {
        margin-bottom: rem(16);
        font-weight: $font-weight-semi-bold;
        text-align: center;
    }
    &__subtitle {
        margin-bottom: rem(12);
        padding-bottom: rem(4);
        font-size: rem(20);
        font-weight: $font-weight-light;
        border-bottom: 1px solid rgba($primary, 0.8);
    }
    &__invoice {
        display: flex;
        align-items: center;
        padding: rem(3) 0;
    }
    &__invoice-value {
        margin-left: auto;
        color: $gray-500;
    }
    &__invoice-label-total, &__invoice-value-total {
        padding-top: rem(9);
        font-weight: $font-weight-semi-bold;
        font-size: rem(18);
    }
    &__invoice-label-total {
        color: $primary;
    }
    &__invoice-value-total {
        color: $body-color;
    }

    .form-control-short {
        margin-right: rem(12);
    }

    .custom-control {
        margin-bottom: 0;
    }
    .custom-control-label {
        font-size: $font-size-sm;
        &:before, &:after {
            top: 50%;
            transform: translate(0, -50%);
        }
        span {
            display: block;
            font-size: $font-size-sm;
            padding-left: rem(10);
            padding-top: rem(6);
            padding-bottom: rem(6);
        }
        .icon {
            margin-top: -6px;
            margin-bottom: -6px;
            font-size: rem(36);
        }
    }

    &__field {
        margin-top: 10px;
        margin-bottom: 16px;
    }
    &__label {
        display: block;
        margin-bottom: 3px;
        font-size: $font-size-sm;
        color: $gray-600;
    }
    &__submit {
        padding-top: rem(36);
        padding-bottom: rem(24);
    }

    &__result {
        display: flex;
        align-items: center;
        padding: rem(3) 0;
    }
    &__result-label, &__result-value, &__result-print {
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-sm;
    }
    &__result-label {
        color: $primary;
    }
    &__result-value {
        margin-left: auto;
        text-align: right;
    }
    &__result-print {
        text-align: right;
        padding-top: rem(20);
    }
    &__text {
        margin-bottom: rem(24);
    }

    &__postview {
        display: flex;
        margin-bottom: rem(20);
        align-items: stretch;
    }
    &__postview-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 33.33%;
        max-width: 33.33%;
        border-right: 1px solid $primary;
        &:last-child {
            border-right: 0;
        }
    }
    &__postview-label {
        color: $gray-600;
    }
    &__postview-value {
        line-height: 1.3;
        font-weight: $font-weight-semi-bold;
        font-size: rem(16);
        color: $primary;
        span {
            display: none;
        }
    }
    &__contact-title {
        font-size: rem(16);
        color: $primary;
    }

    @include media-breakpoint-up(md) {
        &__title {
            margin-bottom: rem(40);
            font-size: rem(24);
        }
        &__subtitle {
            font-size: rem(34);
        }
        &__invoice-label, &__invoice-value {
            font-size: rem(22);
        }
        .custom-control-label {
            font-size: rem(20);
        }
        .custom-control-label {
            font-size: rem(20);
            span {
                font-size: rem(18);
                padding-left: rem(16);
                padding-top: rem(20);
                padding-bottom: rem(20);
            }
            .icon {
                margin-top: -12px;
                margin-bottom: -12px;
                font-size: rem(72);
            }
        }
        &__field {
            margin-top: 18px;
            margin-bottom: 18px;
        }
        &__label {
            display: block;
            margin-bottom: 3px;
            font-size: rem(18);
            color: $gray-600;
        }
        &__submit {
            padding-top: rem(48);
            padding-bottom: rem(32);
        }
        &__postview {
            margin-bottom: rem(50);
        }
        &__result {
            max-width: 240px;
            margin-left: auto;
        }
        &__result-label, &__result-value, &__result-print, &__text, &__postview-label {
            font-size: rem(18);
        }
        &__result-print {
            padding-top: rem(40);
        }
        &__text {
            margin-bottom: rem(24);
        }
        &__postview {
            margin-bottom: rem(60);
        }
        &__postview-value {
            font-size: rem(24);
            span {
                display: inline;
            }
        }
        &__details {
            margin-bottom: rem(12);
        }
        &__contact-title {
            margin-bottom: rem(12);
            font-size: rem(24);
            font-weight: $font-weight-semi-bold;
        }
        &__contact-text {
            font-size: rem(20);
        }
    }
}