.pricing {
    $_: '.pricing';

    .page__row {
        .row {
            align-items: flex-end;
        }
    }
    &__card {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: rem(20);
        color: $primary;
        border: 2px solid $primary;
        padding-bottom: rem(12);
        background-color: $white;
    }
    &__header {
        display: flex;
        justify-content: center;
        padding: rem(5);
    }
    &__header-text {
        line-height: 1.4;
        font-size: $font-size-sm;
    }
    &__header-icon {
        margin-right: rem(8);
        .icon {
            font-size: rem(20);
        }
    }
    &__label {
        margin-left: -2px;
        min-height: rem(32);
        padding-top: rem(12);
    }
    &__sticker {
        display: inline-block;
        span {
            display: block;
            font-size: rem(10);
        }
    }
    &__booking, &__value, &__note {
        text-align: center;
    }
    &__value, &__note {
        line-height: 1.1;
    }
    &__value {
        padding: rem(10) 0 rem(15);
        font-size: rem(40);
    }
    &__value-with-note {
        padding-bottom: 0 !important;
    }
    &__note {
        line-height: 1.1;
        font-size: $font-size-sm;
    }
    &__booking {
        padding-top: rem(6);
    }
    &__lead {
        margin-bottom: rem(18);
        font-weight: $font-weight-bold;
        color: $primary;
    }

    &__card-inverse {
        color: $white;
        background-color: $primary;

        #{$_}__header {
            color: $primary;
            background-color: $white;
        }
    }

    @include media-breakpoint-up(md) {
        &__card {
            padding-bottom: rem(24);
        }
        &__header-text, &__note {
            font-size: rem(22);
        }
        &__header-icon {
            .icon {
                font-size: rem(30);
            }
        }
        &__sticker {
            span {
                font-size: $font-size-sm;
            }
        }
        &__label {
            min-height: rem(76);
            padding-top: rem(22);
        }
        &__value {
            padding: rem(20) 0 rem(24);
            font-size: rem(54);
        }
        &__booking {
            padding-top: rem(10);
        }
    }
    @include media-breakpoint-up(xl) {
        &__value {
            font-size: rem(68);
        }
    }
}