.pupparazzi {
    $_: '.pupparazzi';

    &__title, &__date {
        line-height: 1.1;
        margin-bottom: rem(14);
    }
    &__title {
        font-size: rem(24);
        font-weight: $font-weight-light;
    }
    &__date {
        font-size: rem(16);
        font-weight: $font-weight-bold;
        color: $primary;
    }
    &__text {
        font-size: $font-size-sm;
        margin-bottom: rem(18);
    }
    &__description {
        position: relative;
        padding-bottom: rem(26);
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 6px;
            width: 76px;
            background-color: $primary; 
        }
    }
    &__description-details {
        &::after {
            width: 290px;
        }
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
        #{$_}__text {
            margin-bottom: 0;
        }
    }
    &__figure {
        position: relative;
        margin-bottom: rem(24);
        a {
            color: $white;
        }
    }
    &__sticker {
        position: absolute;
        top: rem(20);
        left: 0;
    }
    &__article, &__card {
        margin-bottom: rem(50);
    }
    &__actions {
        text-align: center;
    }
    &__footer {
        padding-top: rem(30);
        text-align: center;
        .icon {
            font-size: rem(40);
        }
    }
    &__footer-link {
        display: block;
        margin-bottom: rem(16);
    }

    &__story {
        display: flex;
        padding-top: rem(20);
        padding-bottom: rem(20);
        border-top: 1px solid lighten($primary, 30%);
        &:last-child {
            border-bottom: 1px solid lighten($primary, 30%);
        }
    }
    &__story-preview {
        padding-top: 3px;
        flex: 0 0 49%;
        max-width: 49%;
    }
    &__story-details {
        flex: 2 0 51%;
        max-width: 51%;
        padding-left: rem(10);
    }
    &__story-title, &__story-date {
        line-height: 1.2;
    }
    &__story-title {
        margin-bottom: rem(10);
        font-size: rem(16);
        a {
            color: inherit;
        }
    }
    &__story-date {
        margin-bottom: rem(6);
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
        color: $primary;
    }

    @include media-breakpoint-up(md) {
        &__title {
            font-size: rem(38);
        }
        &__date {
            font-size: rem(18);
            font-weight: $font-weight-bold;
        }
        &__text {
            font-size: rem(16);
            margin-bottom: rem(40);
        }
        &__description {
            padding-bottom: rem(56);
        }
        &__figure-main {
            margin-bottom: 0;
        }
        &__article, &__card {
            margin-bottom: rem(60);
        }
        &__actions {
            text-align: left;
        }
        &__footer {
            padding-top: rem(50);
            text-align: left;
        }
        &__footer-link {
            display: inline-block;
            margin-right: rem(8);
            margin-bottom: 0;
        }
        &__story {
            padding-top: rem(16);
            padding-bottom: rem(16);
        }
        &__story-preview, &__story-action {
            display: none;
        }
        &__story-details {
            flex: 2 0 100%;
            max-width: 100%;
            padding-left: 0;
        }
        &__story-title {
            font-size: rem(22);
            margin-bottom: rem(4);
        }
        &__story-date {
            font-size: rem(16);
            margin-bottom: 0;
        }
    }
}