.service {
    $_: '.service';

    margin-bottom: rem(50);

    &__title {
        line-height: 1.1;
        margin-bottom: rem(10);
        font-weight: $font-weight-light;
        font-size: rem(28);
    }
    &__text {
        font-size: $font-size-sm;
    }
    &__figure {
        position: relative;
        margin-bottom: rem(20);
    }
    &__sticker {
        position: absolute;
        top: rem(12);
        left: 0;
    }
    &__phone {
        margin-bottom: rem(18);
        font-size: rem(16);
        color: $primary;
        font-weight: $font-weight-bold;
    }

    @include media-breakpoint-up(md) {
        display: flex;
        margin-bottom: rem(60);
        &__preview {
            flex: 0 0 48%;
            max-width: 48%;
        }
        &__details {
            display: flex;
            flex-direction: column;
            flex: 2 0 52%;
            max-width: 52%;
            padding-left: rem(20);
        }
        &__title {
            font-size: rem(48);
        }
        &__text {
            flex-grow: 2;
            font-size: rem(16);
        }
        &__figure {
            margin-bottom: 0;
        }
        &__sticker {
            top: rem(20);
        }
        &__action {
            .btn {
                margin-right: rem(12);
            }
        }
    }
    @include media-breakpoint-up(xl) {
        &__footer {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        &__phone {
            margin-right: auto;
            margin-bottom: 0;
        }
        &__action {
            .btn {
                margin-right: rem(18);
            }
        }
    }
}