.testimonial {
    $_: '.testtimonial';

    margin-left: auto;
    margin-right: auto;
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
    }

    &__icon {
        position: absolute;
        font-size: rem(48);
        color: lighten($primary, 26%);
    }
    &__icon-top {
        top: 0;
        left: rem(-40);
    }
    &__icon-bottom {
        bottom: 0;
        right: rem(-40);
    }
    &__figure {
        text-align: center;
        display: inline-block;
        max-width: 90px;
        img {
            display: block;
            border-radius: 50%;
            border: 3px solid $primary;
        }
    }
    &__description {
        line-height: 1.4;
        padding-left: rem(48);
        padding-right: rem(48);
    }
    &__text {
        position: relative;
        padding-top: rem(48);
        padding-bottom: rem(48);
    }
    &__author {
        color: $gray-600;
        font-weight: $font-weight-bold;
    }
    &__caption {
        color: $gray-600;
        font-weight: $font-weight-light;
        font-size: $font-size-sm;
    }

    &__single {
        margin-bottom: rem(40);
    }

    @include media-breakpoint-up(sm) {
        display: flex;
        max-width: 600px;
        text-align: left;

        &__figure {
            display: block;
            max-width: none;
            flex: 0 0 150px;
            max-width: 150px;
            padding-left: rem(20);
            img {
                border: 6px solid $primary;
            }
        }
        &__icon {
            font-size: rem(60);
        }
        &__icon-top {
            top: rem(-12);
            left: rem(-64);
        }
        &__icon-bottom {
            bottom: rem(-12);
            right: rem(-64);
        }
        &__description {
            padding-left: rem(64);
            padding-right: rem(64);
        }
    }
    @include media-breakpoint-up(md) {
        text-align: left;
        max-width: 886px;

        &__figure {
            flex: 0 0 186px;
            max-width: 186px;
        }
        &__icon {
            font-size: rem(100);
        }
        &__description {
            padding-left: rem(116);
            padding-right: rem(108);
        }
        &__icon-top {
            top: rem(-24);
            left: rem(-112);
        }
        &__icon-bottom {
            bottom: rem(-24);
            right: rem(-112);
        }
        &__text {
            position: relative;
            padding-top: rem(50);
            padding-bottom: rem(50);
        }
        &__author {
            font-size: 1.125rem;
        }

        &__single {
            margin-bottom: rem(60);
        }
    }
}