.training {
    $_: '.training';

    &__card {
        position: relative;
        margin-bottom: rem(50);
        border: 5px solid $primary;
        border-radius: $border-radius;
    }
    &__sticker {
        position: absolute;
        top: rem(20);
        left: 0;
        span {
            display: block;
            font-size: rem(10);
        }
    }
    &__body, &__footer {
        padding-left: rem(40);
        padding-right: rem(40);
    }
    &__body {
        padding-top: rem(18);
        padding-bottom: rem(18);
    }
    &__footer {
        padding-top: rem(6);
        padding-bottom: rem(26);
    }
    &__title {
        line-height: 1.1;
        margin-bottom: rem(14);
        font-size: rem(27);
        font-weight: $font-weight-light;
    }

    @include media-breakpoint-up(md) {
        &__card {
            margin-bottom: rem(64);
        }
        &__sticker {
            top: rem(26);
            span {
                font-size: $font-size-sm;
            }
        }
        &__body, &__footer {
            padding-left: rem(44);
            padding-right: rem(44);
        }
        &__body {
            padding-top: rem(32);
            padding-bottom: rem(32);
        }
        &__footer {
            padding-top: rem(10);
            padding-bottom: rem(50);
        }
        &__title {
            font-size: rem(32);
        }
    }
}