// Fira Sans

@font-face{
    font-family: 'Fira Sans';
    src: url("../fonts/FiraSans/eot/FiraSans-Light.eot");
    src: local("Fira Sans Light"),
         url("../fonts/FiraSans/eot/FiraSans-Light.eot") format("embedded-opentype"),
         url("../fonts/FiraSans/woff/FiraSans-Light.woff") format("woff"),
         url("../fonts/FiraSans/ttf/FiraSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("../fonts/FiraSans/eot/FiraSans-LightItalic.eot");
    src: local("Fira Sans Light Italic"),
         url("../fonts/FiraSans/eot/FiraSans-LightItalic.eot") format("embedded-opentype"),
         url("../fonts/FiraSans/woff/FiraSans-LightItalic.woff") format("woff"),
         url("../fonts/FiraSans/ttf/FiraSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("../fonts/FiraSans/eot/FiraSans-Regular.eot");
    src: local("Fira Sans Regular"),
         url("../fonts/FiraSans/eot/FiraSans-Regular.eot") format("embedded-opentype"),
         url("../fonts/FiraSans/woff/FiraSans-Regular.woff") format("woff"),
         url("../fonts/FiraSans/ttf/FiraSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("../fonts/FiraSans/eot/FiraSans-RegularItalic.eot");
    src: local("Fira Sans Regular Italic"),
         url("../fonts/FiraSans/eot/FiraSans-RegularItalic.eot") format("embedded-opentype"),
         url("../fonts/FiraSans/woff/FiraSans-RegularItalic.woff") format("woff"),
         url("../fonts/FiraSans/ttf/FiraSans-RegularItalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("../fonts/FiraSans/eot/FiraSans-Medium.eot");
    src: local("Fira Sans Medium"),
         url("../fonts/FiraSans/eot/FiraSans-Medium.eot") format("embedded-opentype"),
         url("../fonts/FiraSans/woff/FiraSans-Medium.woff") format("woff"),
         url("../fonts/FiraSans/ttf/FiraSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("../fonts/FiraSans/eot/FiraSans-MediumItalic.eot");
    src: local("Fira Sans Medium Italic"),
         url("../fonts/FiraSans/eot/FiraSans-MediumItalic.eot") format("embedded-opentype"),
         url("../fonts/FiraSans/woff/FiraSans-MediumItalic.woff") format("woff"),
         url("../fonts/FiraSans/ttf/FiraSans-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("../fonts/FiraSans/eot/FiraSans-SemiBold.eot");
    src: local("Fira Sans Semi Bold"),
         url("../fonts/FiraSans/eot/FiraSans-SemiBold.eot") format("embedded-opentype"),
         url("../fonts/FiraSans/woff/FiraSans-SemiBold.woff") format("woff"),
         url("../fonts/FiraSans/ttf/FiraSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("../fonts/FiraSans/eot/FiraSans-SemiBoldItalic.eot");
    src: local("Fira Sans Semi Bold Italic"),
         url("../fonts/FiraSans/eot/FiraSans-SemiBoldItalic.eot") format("embedded-opentype"),
         url("../fonts/FiraSans/woff/FiraSans-SemiBoldItalic.woff") format("woff"),
         url("../fonts/FiraSans/ttf/FiraSans-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("../fonts/FiraSans/eot/FiraSans-Bold.eot");
    src: local("Fira Sans Bold"),
         url("../fonts/FiraSans/eot/FiraSans-Bold.eot") format("embedded-opentype"),
         url("../fonts/FiraSans/woff/FiraSans-Bold.woff") format("woff"),
         url("../fonts/FiraSans/ttf/FiraSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("../fonts/FiraSans/eot/FiraSans-BoldItalic.eot");
    src: local("Fira Sans Bold Italic"),
         url("../fonts/FiraSans/eot/FiraSans-BoldItalic.eot") format("embedded-opentype"),
         url("../fonts/FiraSans/woff/FiraSans-BoldItalic.woff") format("woff"),
         url("../fonts/FiraSans/ttf/FiraSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

