{% if entry.servicesList|length %}
    <div class="container">
        {% for serviceBlock in entry.servicesList.type('serviceBlock') %}
            <div class="service">
                <div class="service__preview">
                    <div class="service__figure">
                        <span class="service__sticker page__sticker">{{ serviceBlock.caption }}</span>
                        <img src="{{ serviceBlock.picture.first().url }}" alt="{{ serviceBlock.picture.first().title }}"/>
                    </div>
                </div>
                <div class="service__details">
                    <div class="service__title">{{ serviceBlock.caption }}</div>
                    <div class="service__text">
                        {{ serviceBlock.text|nl2br|raw }}
                    </div>
                    <div class="service__footer">
                        {% set generalBlock = entry.servicesList.type('generalBlock') %}
                        {% if generalBlock %}
                            <div class="service__phone">{{ generalBlock.first().callUsTodayCaption }}</div>
                        {% endif %}
                        <div class="service__action">
                            <a class="btn btn-primary" href="#">Book now</a>
                            <a class="btn btn-outline-primary btn-brd-2 font-italic" href="#">View prices</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}