.datepicker {
    @keyframes bg-gradient {
        from {}
        to {}
    }

    position: relative !important;

    &--day {
        &-name {
            font-weight: 600;
            color: #6cb55a !important;
        }
    }

    &--nav {
        &-title {
            font-weight: bold;
        }
    }

    &--cell {
        $_: &;

        border-radius: unset !important;

        &-day {
            color: #393939;
        }

        &.-current- {

        }

        &.-selected- {
            background: #6cb55a !important;
        }

        &.-half- {
            background: linear-gradient(to right, #6cb55a 50%, #6cb55a87 0%) !important;

            #{$_}.-selected- {
                background: linear-gradient(to right, #6cb55a 50%, #6cb55a87 0%) !important;
            }
        }

        &.-in-range- {
            background: #6cb55a !important;
            color: #fff !important;
        }
    }

    &--time {
        display: none;

        &.-active- {
            display: flex;
        }

        &-row {
            input[type="range"] {
            }
        }
    }
}

.calendar {
    &-save-btn {
        margin-top: 10px;
        width: 252px;
        white-space: normal;
        height: 50px;
        display: none;
    }

    &-btn-group {
        width: 252px;
        margin-top: 10px;

        button {
            width: 50%;
        }
    }

    &-wrap {
        position: relative;

        .hide {
            visibility: hidden;
        }
    }
}

.list-group {
    &-item {
        position: relative;
        font-size: .8rem;
        padding: .5rem 1.25rem;

        &:hover {
            background: #6bb55912;
        }
    }

    &-rm-btn {
        font-style: normal;
        cursor: pointer;
        position: absolute;
        top: .5rem;
        right: .6rem;
    }
}
