{% switch entry.slug | lower %}
{% case 'training' %}
    {% include 'pages/training.twig' %}

{% case 'services' %}
    {% include 'pages/service.twig' %}

{% case 'pupparazzi' %}
    {% include 'pages/pupparazzi.twig' %}

{% case 'pricing' %}
    {% include 'pages/pricing.twig' %}

{% case 'pricing' %}
    {% include 'pages/pricing.twig' %}

{% case 'homepage' %}
    {% include 'pages/homepage.twig' %}

{% case 'facilities' %}
    {% include 'pages/facilities.twig' %}

{% case 'contact-us' %}
    {% include 'pages/contact.twig' %}

{% case 'about-us' %}
    {% include 'pages/about.twig' %}

{% default %}
    {% include '../404.twig' %}
{% endswitch %}