{% extends "partials/base.twig" %}

{% block content %}
    {% include "_includes/_common/page-cover.twig" %}
    <main class="page__main">
        <div class="about">
            {% include "_includes/about-us/video-field.twig" %}
            {% include "_includes/about-us/maps-field.twig" %}
            {% include "_includes/about-us/feedback-list.twig" %}
        </div>
    </main>
{% endblock %}