{# index.twig #}
{% extends "partials/base.twig" %}

{% block content %}
    {% include "_includes/_common/page-cover.twig" %}

    <main class="page__main">
        <div class="account">
            <div class="container">
                <div class="account__header">
                    <div class="account__title">Hello, Jennifer Smith</div>
                    <div class="account__nav">
                        <a href="#">Your details</a>
                        <a href="#">Guest details</a>
                        <a href="#">Payment</a>
                        <a href="#">Password</a>
                    </div>
                </div>
                <div class="account__body">
                    <div class="account__block">
                        <div class="account__subtitle">Your details</div>
                        <div class="page__row page__row-spaced">
                            <div class="row">
                                <div class="col col-md-4 col-12">
                                    <div class="account__card">
                                        <div class="account__card-header">
                                            <span class="account__sticker page__sticker">Primary Contact</span>
                                        </div>
                                        <div class="account__card-body">
                                            <table class="account__table">
                                                <tbody>
                                                    <tr>
                                                        <th>Name:</th>
                                                        <td>Jennifer Smith</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Address:</th>
                                                        <td>
                                                            27 Brown Street
                                                            <br>
                                                            Edinburgh
                                                            <br>
                                                            EH1 2TY
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Landline:</th>
                                                        <td>0191 123 4567</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Mobile:</th>
                                                        <td>0771 123 4567</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Email:</th>
                                                        <td>john.smith@domain.com</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="account__card-footer">
                                            <a class="btn btn-lg btn-primary font-italic" href="#" data-toggle="modal" data-target="#editModal">Edit</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-md-4 col-12">
                                    <div class="account__card">
                                        <div class="account__card-header">
                                            <span class="account__sticker page__sticker">Other Contact</span>
                                        </div>
                                        <div class="account__card-body">
                                            <table class="account__table">
                                                <tbody>
                                                    <tr>
                                                        <th>Name:</th>
                                                        <td>Jennifer Smith</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Address:</th>
                                                        <td>
                                                            27 Brown Street
                                                            <br>
                                                            Edinburgh
                                                            <br>
                                                            EH1 2TY
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Landline:</th>
                                                        <td>0191 123 4567</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Mobile:</th>
                                                        <td>0771 123 4567</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Email:</th>
                                                        <td>john.smith@domain.com</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="account__card-footer">
                                            <a class="btn btn-lg btn-primary font-italic" href="#" data-toggle="modal" data-target="#editModal">Edit</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-md-4 col-12">
                                    <div class="account__card account__card-empty">
                                        <div class="account__card-body">
                                            <a class="btn btn-brd-2 btn-outline-primary font-italic account__btn-empty" href="#" data-toggle="modal" data-target="#editModal">+ Add another</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account__block">
                        <div class="account__subtitle">Guest details</div>
                        <div class="page__row page__row-spaced">
                            <div class="row">
                                <div class="col col-md-4 col-12">
                                    <div class="account__card">
                                        <div class="account__card-header">
                                            <div class="account__card-user">
                                                <div class="account__guest">
                                                    <div class="account__guest-figure">
                                                        <img src="assets/images/account/guest.jpg" alt="George" title="George" />
                                                    </div>
                                                    <div class="account__guest-name">George</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="account__card-body">
                                            <table class="account__table">
                                                <tbody>
                                                    <tr>
                                                        <th>Breed:</th>
                                                        <td>German Shepherd</td>
                                                    </tr>
                                                    <tr>
                                                        <th>D.O.B:</th>
                                                        <td>May 2014</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Vaccinations:</th>
                                                        <td>June 2014</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Notes:</th>
                                                        <td>Nervous dog</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="account__card-footer">
                                            <a class="btn btn-lg btn-primary font-italic" href="#" data-toggle="modal" data-target="#editModal">Edit</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-md-4 col-12">
                                    <div class="account__card">
                                        <div class="account__card-header">
                                            <div class="account__card-user">
                                                <div class="account__guest">
                                                    <div class="account__guest-figure">
                                                        <img src="assets/images/account/guest.jpg" alt="George" title="George" />
                                                    </div>
                                                    <div class="account__guest-name">George</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="account__card-body">
                                            <table class="account__table">
                                                <tbody>
                                                    <tr>
                                                        <th>Breed:</th>
                                                        <td>German Shepherd</td>
                                                    </tr>
                                                    <tr>
                                                        <th>D.O.B:</th>
                                                        <td>May 2014</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Vaccinations:</th>
                                                        <td>June 2014</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Notes:</th>
                                                        <td>Nervous dog</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="account__card-footer">
                                            <a class="btn btn-lg btn-primary font-italic" href="#" data-toggle="modal" data-target="#editModal">Edit</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-md-4 col-12">
                                    <div class="account__card account__card-empty">
                                        <div class="account__card-body">
                                            <a class="btn btn-brd-2 btn-outline-primary font-italic account__btn-empty" href="#" data-toggle="modal" data-target="#editModal">+ Add another</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account__block">
                        <div class="account__subtitle">Additional details</div>
                        <div class="page__row page__row-spaced">
                            <div class="row">
                                <div class="col col-md-8 col-12">
                                    <div class="account__card account__card-transparent">
                                        <div class="account__card-body">
                                            <table class="account__table">
                                                <tbody>
                                                    <tr>
                                                        <th>Bark n Fly have keys:</th>
                                                        <td>Yes</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Payment method:</th>
                                                        <td>Account no.:   0194657<br />
                                                            Mastercard:    **** **** **** 5482</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Change password:</th>
                                                        <td><a href="#">click here</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-md-4 col-12">
                                    <div class="account__card account__card-transparent">
                                        <div class="account__card-body">
                                            <a class="btn btn-brd-2 btn-outline-primary font-italic account__btn-empty" href="#" data-toggle="modal" data-target="#editModal">+ Add another</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include "_includes/_common/modal-edit.twig" %}
{% endblock %}