{# index.twig #}
{% extends "partials/base.twig" %}

{% block content %}
    {#{% include "_includes/_common/page-cover.twig" %}#}

    <main class="page__main">
        <div class="booking js-booking-calculator">
            <div class="container">
                <div class="block block__space-biggest block__space-outer-bottom">
                    <div class="block__header">
                        <div class="block__title">Hello</div>
                    </div>
                    <div class="block__body">
                        <div class="row">
                            <div class="col col-12 col-lg-7 col-xl-8">
                                <div class="booking__section">
                                    <div class="booking__title">Make a booking</div>
                                    <div class="booking__fieldset">
                                        <div class="booking__subtitle">1. Enter dogs details</div>
                                        <div class="booking__fields form">
                                            {% include "_includes/_common/form-dog-details.twig" %}
                                            <div class="form__field form__field-row">
                                                <label class="form__label">Previous Guests:</label>
                                                <div class="form__field-col-left">
                                                    <a href="#" data-toggle="modal" data-target="#editModal">+ Add another</a>
                                                </div>
                                            </div>
                                            <div class="form__field">
                                                <div class="booking__guests">
                                                    <label class="booking__guest btn-label" rel="guests">
                                                        <div class="booking__guest-figure">
                                                            <span class="booking__guest-status bg-white">
                                                                <svg class="icon icon-check" width="48" height="48">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use>
                                                                </svg>
                                                            </span>
                                                            <img src="assets/images/account/guest.jpg" alt="George" title="George" />
                                                        </div>
                                                        <div class="booking__guest-name">George</div>
                                                        <input type="checkbox" name="guest" value="george" />
                                                    </label>
                                                    <label class="booking__guest btn-label" rel="guests">
                                                        <div class="booking__guest-figure">
                                                            <span class="booking__guest-status bg-white">
                                                                <svg class="icon icon-check" width="48" height="48">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use>
                                                                </svg>
                                                            </span>
                                                            <img src="assets/images/account/guest.jpg" alt="George" title="George" />
                                                        </div>
                                                        <div class="booking__guest-name">Dexter</div>
                                                        <input type="checkbox" name="guest" value="dexter" />
                                                    </label>
                                                    <label class="booking__guest btn-label" rel="guests">
                                                        <div class="booking__guest-figure">
                                                            <span class="booking__guest-status bg-white">
                                                                <svg class="icon icon-check" width="48" height="48">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use>
                                                                </svg>
                                                            </span>
                                                            <img src="assets/images/account/guest.jpg" alt="George" title="George" />
                                                        </div>
                                                        <div class="booking__guest-name">Hello</div>
                                                        <input type="checkbox" name="guest" value="hello" />
                                                    </label>
                                                    <label class="booking__guest btn-label" rel="guests">
                                                        <div class="booking__guest-figure">
                                                            <span class="booking__guest-status bg-white">
                                                                <svg class="icon icon-check" width="48" height="48">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use>
                                                                </svg>
                                                            </span>
                                                            <img src="assets/images/account/guest.jpg" alt="George" title="George" />
                                                        </div>
                                                        <div class="booking__guest-name">World</div>
                                                        <input type="checkbox" name="guest" value="world" />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="booking__section">
                                    <div class="booking__fieldset">
                                        <div class="booking__subtitle">2. Select your service</div>
                                        <div class="booking__fields">
                                            <label class="js-service-boarding btn btn-label btn-outline-primary
                                            btn-brd-2 btn-lg
                                            active ml-3" rel="service">
                                                Boarding
                                                <input type="radio" name="service" value="boarding">
                                            </label>
                                            <label class="js-service-daycare btn btn-label btn-outline-primary
                                            btn-brd-2 btn-lg ml-3" rel="service">
                                                Daycare
                                                <input type="radio" name="service" value="daycare">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="booking__section">
                                    <div class="booking__fieldset">
                                        <div class="booking__subtitle">3. Select your logistics</div>
                                        <div class="booking__fields">
                                            <div class="form__field form__field-xs-row form__field-xs-middle form__field-xs-right">
                                                <label class="form__label">Bark n’ Fly Pick-Up</label>
                                                <label class="custom-control custom-checkbox custom-checkbox-single">
                                                    <input type="checkbox" class="custom-control-input" name="some" value="pickUp">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                                <span class="form__field-icon" data-toggle="tooltip" data-placement="right" title="We will pick up / drop off from your residence. Note pick up / drop off service is restricted to certain areas.">
                                                    <svg class="icon icon-question" width="48" height="48">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#question"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="form__field form__field-xs-row form__field-xs-middle form__field-xs-right">
                                                <label class="form__label">Bark n’ Fly Drop-Off</label>
                                                <label class="custom-control custom-checkbox custom-checkbox-single">
                                                    <input type="checkbox" class="custom-control-input" name="some" value="pickUp">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                                <span class="form__field-icon" data-toggle="tooltip" data-placement="right" title="We will pick up / drop off from your residence. Note pick up / drop off service is restricted to certain areas.">
                                                    <svg class="icon icon-question" width="48" height="48">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#question"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="booking__section">
                                    <div class="booking__fieldset">
                                        <div class="booking__subtitle">4. Select dates</div>
                                        <div class="booking__fields">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="js-calendar calendar-wrap"></div>
                                                </div>
                                                <div class="col-6">
                                                    <ul class="js-calendar-result list-group"></ul>
                                                </div>
                                            </div>

                                            {#<div class="form__field form__field-row form__field-middle form__field-right mb-2">#}
                                                {#<div class="ml-2 mb-1">#}
                                                    {#<input class="form-control form-control-md-inline" value="04/04/2018" data-toggle="datepicker" />#}
                                                {#</div>#}
                                                {#<div class="ml-2 mb-1">#}
                                                    {#<select class="form-control form-control-md-inline">#}
                                                        {#<option value="">08:00</option>#}
                                                        {#<option value="">09:00</option>#}
                                                        {#<option value="">10:00</option>#}
                                                        {#<option value="">11:00</option>#}
                                                    {#</select>#}
                                                {#</div>#}
                                            {#</div>#}
                                            {#<div class="form__field form__field-row form__field-middle form__field-right mb-1">#}
                                                {#<div class="ml-2 mb-1">#}
                                                    {#<input class="form-control form-control-md-inline" value="04/04/2018" data-toggle="datepicker" />#}
                                                {#</div>#}
                                                {#<div class="ml-2 mb-1">#}
                                                    {#<select class="form-control form-control-md-inline">#}
                                                        {#<option value="">08:00</option>#}
                                                        {#<option value="">09:00</option>#}
                                                        {#<option value="">10:00</option>#}
                                                        {#<option value="">11:00</option>#}
                                                    {#</select>#}
                                                {#</div>#}
                                            {#</div>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 col-lg-5 col-xl-4">
                                <div class="booking__section">
                                    <div class="booking__invoice">
                                        <div class="booking__invoice-body">
                                            <div class="booking__title mb-0">Summary</div>
                                        </div>
                                        <div class="booking__invoice-body">
                                            <table class="booking__table mb-3">
                                                <tbody>
                                                    <tr>
                                                        <th>Dogs:</th>
                                                        <td>George</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Breed:</th>
                                                        <td>German Shepherd</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Vaccinations:</th>
                                                        <td>June 2014</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Notes:</th>
                                                        <td>Nervous dog</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-right">
                                                <a href="#">Edit</a>
                                            </div>
                                        </div>
                                        <div class="booking__invoice-body">
                                            <table class="booking__table mb-3">
                                                <tbody>
                                                    <tr>
                                                        <th>Dogs:</th>
                                                        <td>Dexter</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Breed:</th>
                                                        <td>Bloodhound</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Vaccinations:</th>
                                                        <td>June 2015</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Notes:</th>
                                                        <td>Not fed at day care</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-right">
                                                <a href="#">Edit</a>
                                            </div>
                                        </div>
                                        <div class="booking__invoice-body">
                                            <table class="booking__table">
                                                <tbody>
                                                    <tr>
                                                        <th>Service::</th>
                                                        <td>Boarding</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Logistics:</th>
                                                        <td>Bark n’ Fly Pick up</td>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <td>& Drop off</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Pick-Up Date:</th>
                                                        <td>31-Jan-18</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Drop-Off Date:</th>
                                                        <td>01-Feb-18</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="booking__invoice-footer">
                                            <div class="row booking__total">
                                                <div class="col text-primary">Total Cost:</div>
                                                <div class="col col-auto">£124.92</div>
                                            </div>
                                            <button class="btn btn-lg btn-block btn-primary">CONFIRM & PAY</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include "_includes/_common/modal-edit.twig" %}

    <script type="text/javascript" src="assets/js/booking.js"></script>
{% endblock %}