{% extends "partials/base.twig" %}

{% block content %}
    {% include "_includes/_common/page-cover.twig" %}

    <main class="page__main pt-0">
        <div class="contact">
            <div class="contact__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d143027.01689364543!2d-3.6512694789062525!3d55.93555459456789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c53058abe0fb%3A0xcceec32dd8147064!2sBark+n+Fly+Dog+Day+Care+and+Boarding+Kennels!5e0!3m2!1sru!2s!4v1523990522983" width="100%" height="985" frameborder="0" style="border:0"></iframe>
            </div>
            <div class="contact__block">
                <span class="page__sticker">Get in touch</span>
                <div class="contact__title">Bark n’ Fly</div>
                <div class="contact__items">
                    <div class="contact__address contact__item">
                        <svg class="icon icon-location" width="48" height="48">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#location"></use>
                        </svg>
                        Hallyards Farm House,<br>
                        Kirkliston,<br>
                        EH29 9DZ
                    </div>
                    <div class="contact__address contact__item">
                        <svg class="icon icon-phone" width="48" height="48">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone"></use>
                        </svg>
                        0131 333 1222
                    </div>
                    <div class="contact__address contact__item">
                        <svg class="icon icon-email" width="48" height="48">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email"></use>
                        </svg>
                        info@barknfly.co.uk
                    </div>
                </div>

                <div class="form">
                    <form action="#" method="post" role="form">
                        <div class="form__field">
                            <input class="form-control" type="text" value="" placeholder="Full name">
                        </div>
                        <div class="form__field">
                            <input class="form-control" type="text" value="" placeholder="Email">
                        </div>
                        <div class="form__field">
                            <input class="form-control" type="text" value="" placeholder="Telephone">
                        </div>
                        <div class="form__field">
                            <textarea class="form-control" placeholder="Telephone" rows="5"></textarea>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-primary btn-lg" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include '_includes/_common/advertisement.twig' %}
    </main>
{% endblock %}