{% extends "partials/base.twig" %}

{% block content %}
    {% include "_includes/homepage/top-carousel.twig" %}
    {% include "_includes/homepage/booking-panel.twig" %}

    <main class="page__main">
        {% include "_includes/homepage/happy-guests-thumbnails.twig" %}
        {% include "_includes/_common/feedback-carousel.twig" %}
        {% include '_includes/_common/advertisement.twig' %}
        {% include "_includes/homepage/featured-services.twig" %}
    </main>
{% endblock %}