{% extends "partials/base.twig" %}

{% block content %}
    {% include "_includes/_common/page-cover.twig" %}
    <main class="page__main">
        <div class="auth">
            <div class="auth__container container">
                <div class="block">
                    <div class="block__header">
                        <div class="block__title">Login</div>
                    </div>
                    <div class="block__body">
                        <div class="auth__section">
                            <div class="auth__title">Enter your account details</div>
                            <div class="auth__form">
                                <form action="#" method="post" role="form">
                                    <div class="auth__fieldrow">
                                        <label class="auth__label" for="email">Enter email address:</label>
                                        <div class="auth__field auth__col-grow">
                                            <input id="email" class="form-control" type="email" name="login" value="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="auth__fieldrow mb-0">
                                        <label class="auth__label" for="password">Enter password:</label>
                                        <div class="auth__field auth__col-grow">
                                            <input id="password" class="form-control" type="password" name="password" value="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="auth__fieldrow">
                                        <div class="auth__col auth__col-grow text-right">
                                            <a class="font-weight-light" href="/pages/forgot-password">Forgot Password?</a>
                                        </div>
                                    </div>
                                    <div class="auth__fieldrow">
                                        <div class="auth__col auth__col-grow text-center">
                                            <input class="btn btn-lg btn-primary text-uppercase text-spacing" type="submit" value="Login">
                                        </div>
                                    </div>
                                    <div class="auth__fieldrow">
                                        <div class="auth__col auth__col-grow text-center">
                                            <a  href="/pages/signup">Haven’t got an account yet? Sign up now.</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}