{# index.twig #}
{% extends "partials/base.twig" %}

{% block content %}
    {% include "_includes/_common/page-cover.twig" %}

    <main class="page__main">
        <div class="container">
            <div class="block">
                <div class="block__header">
                    <div class="block__title text-center">Your Booking</div>
                </div>
                <div class="block__body">
                    <div class="payment form form__payment">
                        <div class="payment__section">
                            <div class="payment__container">
                                <div class="payment__title">1. Booking details</div>
                                <div class="payment__invoice">
                                    <div class="payment__invoice-label">14 days</div>
                                    <div class="payment__invoice-value">£256.00</div>
                                </div>
                                <div class="payment__invoice">
                                    <div class="payment__invoice-label">2 dogs</div>
                                    <div class="payment__invoice-value">£22.50</div>
                                </div>
                                <div class="payment__invoice">
                                    <div class="payment__invoice-label">Taxi</div>
                                    <div class="payment__invoice-value">£10.00</div>
                                </div>
                                <div class="payment__invoice">
                                    <div class="payment__invoice-label payment__invoice-label-total">Total Cost:</div>
                                    <div class="payment__invoice-value payment__invoice-value-total">£288.50</div>
                                </div>
                            </div>
                        </div>
                        <div class="payment__section">
                            <div class="payment__container">
                                <div class="payment__title">2. How would you like to pay?</div>
                                <div class="payment__field">
                                    <label class="custom-control custom-radio d-inline-block">
                                        <input type="radio" class="custom-control-input" name="type" value="1" />
                                        <span class="custom-control-label">
                                            <span>add to account</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="payment__field">
                                    <label class="custom-control custom-radio d-inline-block">
                                        <input type="radio" class="custom-control-input" name="type" value="2">
                                        <span class="custom-control-label">
                                            <svg class="icon icon-paypal" width="48" height="48">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#paypal"></use>
                                            </svg>
                                        </span>
                                    </label>
                                </div>
                                <div class="payment__field">
                                    <label class="custom-control custom-radio d-inline-block">
                                        <input type="radio" class="custom-control-input" name="type" value="3">
                                        <span class="custom-control-label">
                                            <svg class="icon icon-visa" width="48" height="48">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#visa"></use>
                                            </svg>
                                            <svg class="icon icon-mastercard" width="48" height="48">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mastercard"></use>
                                            </svg>
                                        </span>
                                    </label>
                                </div>
                                <div class="payment__field">
                                    <label class="payment__label">Cardholder’s Name</label>
                                    <input name="cardholderName" class="form-control" />
                                </div>
                                <div class="payment__field">
                                    <label class="payment__label">Card Number</label>
                                    <input name="cardholderNumber" class="form-control" />
                                </div>
                                <div class="payment__field">
                                    <label class="payment__label">Card Expiry Date</label>
                                    <input name="mm" class="form-control form-control-short" placeholder="mm" />
                                    <input name="yy" class="form-control form-control-short" placeholder="yy" />
                                </div>
                                <div class="payment__field">
                                    <label class="payment__label">
                                        Security CVN (last 3 digits)
                                        <span data-toggle="tooltip" data-placement="right" title="" data-original-title="Description">
                                            <svg class="icon icon-question" width="48" height="48">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#question"></use>
                                            </svg>
                                        </span>
                                    </label>
                                    <input name="cardholderName" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="payment__section">
                            <div class="payment__container text-center">
                                <label class="custom-control custom-checkbox d-inline-block">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-label">I agree to the <a href="#">Terms and Conditions</a></span>
                                </label>

                                <div class="payment__submit">
                                    <button class="btn btn-primary btn-lg text-uppercase" type="submit">Make payment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}