{# index.twig #}
{% extends "partials/base.twig" %}

{% block content %}
    {% include "_includes/_common/page-cover.twig" %}

    <main class="page__main">
        {% include "_includes/pricing/price-list.twig" %}

        {% include "_includes/pricing/flat-grid-view.twig" %}

    </main>
{% endblock %}