{# index.twig #}
{% extends "partials/base.twig" %}

{% block content %}
    {% include "_includes/_common/page-cover.twig" %}

    <main class="page__main">
        <div class="pupparazzi">
            <div class="container">
                <div class="page__row page__row-spaced">
                    <div class="row">
                        <div class="col col-12 col-md-9">
                            <div class="pupparazzi__card">
                                <div class="pupparazzi__figure">
                                    <a href="#">
                                        <span class="pupparazzi__sticker page__sticker page__sticker-secondary">Press</span>
                                        <img src="assets/images/pupparazzi/details.png" alt="Title" title="Title" />
                                    </a>
                                </div>
                                <div class="pupparazzi__description pupparazzi__description-details">
                                    <div class="pupparazzi__title">Lorem ipsum dolor sit amet viverra diam</div>
                                    <div class="pupparazzi__date">Sarah Smith  I  26th Feb</div>
                                    <div class="pupparazzi__text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra diam a nisi vestibulum porta ac eget mi. Fusce risus ipsum, tempor at leo nec, laoreet blandit ligula. Pellentesque tincidunt nibh et neque eleifend convallis. Fusce nisi orci, tincidunt at libero et, molestie gravida ex. Fusce viverra, mauris eu pulvinar mattis, ligula justo viverra purus, non tristique ante ipsum a justo. Donec nec porta sapien. Maecenas pulvinar porttitor tincidunt.</p>

                                        <p>Nam at erat varius, lacinia mauris ornare, maximus odio. Nunc sit amet euismod velit, at rhoncus diam. Etiam tortor dui, tincidunt ut interdum non, tristique a ipsum. Ut ultricies quis turpis at fringilla. Morbi cursus sem ut cursus interdum. Sed id leo at turpis imperdiet posuere. Fusce vulputate maximus eros maximus gravida. Vivamus at orci justo. In sit amet tellus vitae massa elementum ullamcorper at sed arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras nulla nibh, commodo ac fermentum at, dapibus at odio. Suspendisse accumsan, elit sed consequat venenatis, lacus metus elementum metus, ut lacinia ex lacus eget purus. Quisque et turpis quis elit pellentesque maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque ultrices in mi quis auctor. Ut sit amet aliquet est.</p>

                                        <p>Cras tellus metus, accumsan in porta in, sollicitudin tincidunt velit. Suspendisse facilisis tempor turpis nec lobortis. Duis sed consectetur dui. Phasellus mi nisi, iaculis molestie mollis vitae, dignissim id lorem. Fusce mattis ipsum sed imperdiet commodo. Donec tristique pharetra consequat. Morbi nec condimentum nulla. Suspendisse iaculis vitae est ut efficitur. Suspendisse lacinia justo nibh, vel consectetur arcu iaculis vitae. Nam sit amet luctus lectus. Sed urna massa, vestibulum sit amet erat vel, feugiat ullamcorper purus.</p>
                                    </div>
                                </div>
                                <div class="pupparazzi__footer">
                                    <span class="pupparazzi__footer-link">
                                        <a class="btn btn-outline-primary btn-brd-2" href="#">Read more</a>
                                    </span>
                                    <a href="#" title="twitter">
                                        <svg class="icon icon-twitter" width="48" height="48">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
                                        </svg>
                                    </a>
                                    <a href="#" title="facebook">
                                        <svg class="icon icon-facebook" width="48" height="48">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
                                        </svg>
                                    </a>
                                    <a href="#" title="youtube">
                                        <svg class="icon icon-youtube" width="48" height="48">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube"></use>
                                        </svg>
                                    </a>
                                    <a href="#" title="instagram">
                                        <svg class="icon icon-instagram" width="48" height="48">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col col-12 col-md-3">
                            <div class="pupparazzi__title">Other Stories:</div>
                            <div class="pupparazzi__stories">
                                <div class="pupparazzi__story">
                                    <div class="pupparazzi__story-preview">
                                        <div class="pupparazzi__story-figure">
                                            <a href="#">
                                                <img src="assets/images/pupparazzi/card_1.png" alt="Title" title="Title" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="pupparazzi__story-details">
                                        <div class="pupparazzi__story-title">
                                            <a href="#">Maecenas pulvinar porttitor</a>
                                        </div>
                                        <div class="pupparazzi__story-date">Sarah Smith  I  26th Feb</div>
                                        <div class="pupparazzi__story-action">
                                            <a class="btn btn-outline-primary btn-sm font-italic" href="#">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pupparazzi__story">
                                    <div class="pupparazzi__story-preview">
                                        <div class="pupparazzi__story-figure">
                                            <a href="#">
                                                <img src="assets/images/pupparazzi/card_2.png" alt="Title" title="Title" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="pupparazzi__story-details">
                                        <div class="pupparazzi__story-title">
                                            <a href="#">Maecenas pulvinar porttitor</a>
                                        </div>
                                        <div class="pupparazzi__story-date">Sarah Smith  I  26th Feb</div>
                                        <div class="pupparazzi__story-action">
                                            <a class="btn btn-outline-primary btn-sm font-italic" href="#">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pupparazzi__story">
                                    <div class="pupparazzi__story-preview">
                                        <div class="pupparazzi__story-figure">
                                            <a href="#">
                                                <img src="assets/images/pupparazzi/card_3.png" alt="Title" title="Title" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="pupparazzi__story-details">
                                        <div class="pupparazzi__story-title">
                                            <a href="#">Maecenas pulvinar porttitor</a>
                                        </div>
                                        <div class="pupparazzi__story-date">Sarah Smith  I  26th Feb</div>
                                        <div class="pupparazzi__story-action">
                                            <a class="btn btn-outline-primary btn-sm font-italic" href="#">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-view block block__space-biggest block__space-inner-bottom">
                    <div class="page__row page__row-spaced">
                        <div class="row">
                            <div class="col col-12 col-md-6">
                                <div class="grid-view__card" style="background-image: url(assets/images/pupparazzi/grid_1.png)">
                                    <span class="grid-view__sticker page__sticker page__sticker-secondary">Press</span>
                                    <div class="grid-view__content">
                                        <div class="grid-view__title text-primary">Lorem Ipsum dolor sit amet consectetut </div>
                                        <a class="btn btn-outline-light btn-brd-2" href="#">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 col-md-6">
                                <div class="row">
                                    <div class="col col-6">
                                        <div class="grid-view__card" style="background-image: url(assets/images/pupparazzi/grid_2.png)">
                                            <span class="grid-view__sticker page__sticker">Blog post</span>
                                            <div class="grid-view__content">
                                                <div class="grid-view__title text-primary">Lorem Ipsum dolor sit amet consectetut </div>
                                                <a class="btn btn-outline-light btn-brd-2" href="#">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-6">
                                        <div class="grid-view__card" style="background-image: url(assets/images/pupparazzi/grid_3.png)">
                                            <span class="grid-view__sticker page__sticker page__sticker-secondary">Press</span>
                                            <div class="grid-view__content">
                                                <div class="grid-view__title text-primary">Lorem Ipsum dolor</div>
                                                <a class="btn btn-outline-light btn-brd-2" href="#">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-12">
                                        <div class="grid-view__card" style="background-image: url(assets/images/pupparazzi/grid_4.jpg)">
                                            <span class="grid-view__sticker page__sticker">Blog post</span>
                                            <div class="grid-view__content">
                                                <div class="grid-view__title text-primary">Lorem Ipsum dolor</div>
                                                <a class="btn btn-outline-light btn-brd-2" href="#">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}