{# index.twig #}
{% extends "partials/base.twig" %}

{% block content %}
    {% include "_includes/_common/page-cover.twig" %}

    <main class="page__main">
        <div class="pupparazzi">
            {% include "_includes/pupparazzi/gallery-1.twig" %}

            {% include "_includes/pupparazzi/gallery-2.twig" %}
        </div>
    </main>
{% endblock %}