{% extends "partials/base.twig" %}

{% block content %}
    {% include "_includes/_common/page-cover.twig" %}
    <main class="page__main">
        <div class="auth">
            <div class="auth__container container">
                <div class="block">
                    <div class="block__header">
                        <div class="block__title">Sign Up</div>
                    </div>
                    <div class="block__body">
                        <div class="auth__section">
                            <div class="auth__title">Fill in your details below</div>
                            <div class="auth__form">
                                <form action="#" method="post" role="form">
                                    <div class="auth__fieldrow">
                                        <label class="auth__label" for="name">Name:</label>
                                        <div class="auth__field auth__col-grow">
                                            <input id="name" class="form-control" type="name" name="name" value="" placeholder="">
                                        </div>
                                        <div class="auth__field-icon invisible">
                                            <span  data-toggle="tooltip" data-placement="right" title="tooltip text">
                                                <svg class="icon icon-question" width="48" height="48">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#question"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="auth__fieldrow">
                                        <label class="auth__label" for="email">Email address:</label>
                                        <div class="auth__field auth__col-grow">
                                            <input id="email" class="form-control" type="email" name="email" value="" placeholder="">
                                        </div>
                                        <div class="auth__field-icon">
                                            <span  data-toggle="tooltip" data-placement="right" title="tooltip text">
                                                <svg class="icon icon-question" width="48" height="48">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#question"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="auth__fieldrow">
                                        <label class="auth__label" for="confirmEmail">Confirm email address:</label>
                                        <div class="auth__field auth__col-grow">
                                            <input id="confirmEmail" class="form-control" type="email" name="confirmEmail" value="" placeholder="">
                                        </div>
                                        <div class="auth__field-icon">
                                            <span  data-toggle="tooltip" data-placement="right" title="tooltip text">
                                                <svg class="icon icon-question" width="48" height="48">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#question"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="auth__fieldrow">
                                        <label class="auth__label" for="password">Password:</label>
                                        <div class="auth__field auth__col-grow">
                                            <input id="password" class="form-control" type="password" name="password" value="" placeholder="">
                                        </div>
                                        <div class="auth__field-icon">
                                            <span  data-toggle="tooltip" data-placement="right" title="tooltip text">
                                                <svg class="icon icon-question" width="48" height="48">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#question"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="auth__fieldrow">
                                        <label class="auth__label" for="confirmPassword">Conf irm Password::</label>
                                        <div class="auth__field auth__col-grow">
                                            <input id="confirmPassword" class="form-control" type="password" name="confirmPassword" value="" placeholder="">
                                        </div>
                                        <div class="auth__field-icon">
                                            <span  data-toggle="tooltip" data-placement="right" title="tooltip text">
                                                <svg class="icon icon-question" width="48" height="48">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#question"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="auth__fieldrow">
                                        <div class="auth__col auth__col-grow text-center">
                                            <input class="btn btn-lg btn-primary text-uppercase text-spacing" type="submit" value="Sign Up">
                                        </div>
                                    </div>
                                    <div class="auth__fieldrow">
                                        <div class="auth__col auth__col-grow text-center">
                                            <a  href="/pages/login">Already have an account? Sign in now.</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}