{# index.twig #}
{% extends "partials/base.twig" %}

{% block content %}
    {% include "_includes/_common/page-cover.twig" %}

    <main class="page__main">
        <div class="container">
            <div class="block">
                <div class="block__header">
                    <div class="block__title text-center">Booking Confirmed</div>
                </div>
                <div class="block__body">
                    <div class="payment form form__payment">
                        <div class="payment__section text-center">
                            <div class="payment__title text-primary mb-0">We can’t wait to see you.</div>
                            <div class="payment__text">
                                Thank you for choosing Bark n Fly. Please check your email for a confirmation email.
                            </div>
                            <div class="payment__postview">
                                <div class="payment__postview-col">
                                    <div class="payment__postview-label">Booking Reference</div>
                                    <div class="payment__postview-value">1245866</div>
                                </div>
                                <div class="payment__postview-col">
                                    <div class="payment__postview-label">Order Placed</div>
                                    <div class="payment__postview-value">27 - Feb - 18</div>
                                </div>
                                <div class="payment__postview-col">
                                    <div class="payment__postview-label">Payment Method</div>
                                    <div class="payment__postview-value"><span>VISA</span> *** *** *** 1234</div>
                                </div>
                            </div>
                        </div>
                        <div class="payment__details">
                            <div class="payment__subtitle">Your Booking</div>
                            <div class="payment__invoice">
                                <div class="payment__invoice-label">14 days</div>
                            </div>
                            <div class="payment__invoice">
                                <div class="payment__invoice-label">2 dogs</div>
                            </div>
                            <div class="payment__invoice">
                                <div class="payment__invoice-label">Taxi</div>
                            </div>
                        </div>
                        <div class="payment__section">
                            <div class="payment__results">
                                <div class="payment__result">
                                    <div class="payment__result-label">Subtotal:</div>
                                    <div class="payment__result-value">£256.00</div>
                                </div>
                                <div class="payment__result">
                                    <div class="payment__result-label">Taxi:</div>
                                    <div class="payment__result-value">£3.00</div>
                                </div>
                                <div class="payment__result">
                                    <div class="payment__result-label">VAT:</div>
                                    <div class="payment__result-value">20%</div>
                                </div>
                                <div class="payment__result">
                                    <div class="payment__result-label">Order Total:</div>
                                    <div class="payment__result-value">£259.00</div>
                                </div>
                                <div class="payment__result-print"><a onclick="window.print()" href="#">Print this page</a></div>
                            </div>
                        </div>
                        <div class="payment__section no-print">
                            <div class="text-center">
                                <div class="payment__contact-title">Got a problem?</div>
                                <div class="payment__contact-text">
                                    Contact a member of our team on <a href="mailto:help@barknfly.com">help@barknfly.com</a>
                                </div>

                                <div class="payment__submit">
                                    <div class="d-md-inline-block m-2">
                                        <a class="btn btn-primary btn-lg text-uppercase btn-block" href="#">
                                            <svg class="icon icon-facebook" width="48" height="48">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
                                            </svg>
                                            Like us on facebook
                                        </a>
                                    </div>
                                    <div class="d-md-inline-block m-2">
                                        <a class="btn btn-primary btn-lg text-uppercase btn-block" href="#">
                                            <svg class="icon icon-email" width="48" height="48">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email"></use>
                                            </svg>
                                            Refer a friend
                                        </a>
                                    </div>
                                    <div class="d-md-inline-block m-2">
                                        <a class="btn btn-primary btn-lg text-uppercase btn-block" href="#">Refer a friend</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}