{# index.twig #}
{% extends "partials/base.twig" %}

{% block content %}
    {% include "_includes/_common/page-cover.twig" %}

    <main class="page__main">
        {% include '_includes/trainings/trainings-list.twig' %}
    </main>
{% endblock %}