<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta charset="utf-8"/>
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}"/>

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">

    <!--build:css css/main.min.css-->
    <link rel="stylesheet" href="assets/css/main.css">
    <!--endbuild-->

    <!--build:js js/main.min.js -->
    <script type="text/javascript" src="assets/js/main.js"></script>
    <!-- endbuild -->

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

</head>
<body class="page">
<!-- START wrapper -->
<div class="page__wrapper">
    <!-- START header -->
    {% block header %}
        <div class="page__header">
            {% include 'partials/header.twig' %}
        </div>
    {% endblock %}
    <!-- END header -->

    <!-- START content -->
    <div class="page__content">
        {% block content %}
            <p>If you see me, you haven’t set your
                <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.
            </p>
            <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template
                    Inheritance</a>
                documentation for an explanation.</p>
        {% endblock %}
    </div>
    <!-- END content -->

    <!-- START Footer -->
    {% block footer %}
        <div class="page__footer">
            {% include 'partials/footer.twig' %}
        </div>
    {% endblock %}
    <!-- END footer -->
</div>
<!-- END wrapper -->

{% include 'partials/svg.twig' %}

<script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=1"></' + 'script>')
</script>
</body>
</html>
