<footer class="footer">
    <div class="container footer__container footer__data">
        <div class="footer__contacts">
            <div class="footer__logo">
                <div class="logo">
                    <a class="logo__link" href="./index.html">
                        <img class="logo__link" src="{{ craft.config.environmentVariables.craftAssetsBaseUrl }}/site/logo_inverse.png" alt="Bark and Fly" />
                    </a>
                </div>
            </div>
            <div class="footer__phone">
                <span class="icon icon__phone-inverse footer__phone-icon"></span>
                <span class="footer__phone-text">0131 333 1222</span>
            </div>
            <address class="footer__address">
                <b>{{ companyInfo.companyTitle }}</b>
                <br>
                {{ companyInfo.addressLine1 }},
                <br>
                {{ companyInfo.addressLine2 }}, {{ companyInfo.addressLine3 }}
            </address>
        </div>

        {% set myData = craft.entries.section('pages').showInFooter(true).order('footerSortingOrder asc') %}
        {% for entry in myData|batch(5) %}
            <div class="footer__navigation">
                <nav class="navigation navigation__footer">
                    <ul class="navigation__list">
                    {% for item in entry %}
                        <li class="navigation__item">
                            <a class="navigation__link"  href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endfor %}

        <div class="footer__form">
            <div class="form form__newsletter">
                <form action="#" method="post" role="form">
                    <div class="form__title">
                        Sign up to the
                        <br>
                        {{ companyInfo.companyTitle }} newsletter
                    </div>
                    <div class="form__field">
                        <label class="form__label">Your name</label>
                        <div class="form__input">
                            <input class="form-control" type="text" value="" placeholder="Your name" />
                        </div>
                    </div>
                    <div class="form__field">
                        <label class="form__label">Your email</label>
                        <div class="form__input">
                            <input class="form-control" type="email" value="" placeholder="Your email" />
                        </div>
                    </div>
                    <div class="form__submit">
                        <button class="btn btn-primary btn-lg font-italic">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="footer__networks">
            {% for entry in craft.entries.section('socialLinks').order('id asc') %}
                <a href="{{ entry.socialLink }}" title="{{ entry.title }}">
                    <svg class="icon icon-{{ entry.title | lower }}" width="48" height="48">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ entry.title | lower }}"></use>
                    </svg>
                </a>
            {% endfor %}
        </nav>
    </div>
    <div class="footer__copyright">
        <div class="container footer__container">
            © {{ companyInfo.foundationYear }} {{ companyInfo.companyTitle }}. All rights reserved
        </div>
    </div>
</footer>
