<header class="header">
    <div class="container header__container">
        <div class="header__address">
            <span class="header__address-icon">
                <svg class="icon icon-location" width="48" height="48">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#location"></use>
                </svg>
            </span>
            <span class="header__address-text">{{ companyInfo.addressLine1 }}, {{ companyInfo.addressLine2 }} {{ companyInfo.addressLine3 }}</span>
        </div>

        <div class="header__migrant">
            <div class="header__logo">
                {% include 'partials/logo.twig' %}
            </div>
            <div class="header__navigation">
                <nav class="navigation navigation__header">
                    <ul class="navigation__list">
                        {# Grab all active only pages #}
                        {% set segment = craft.request.lastSegment %}
                        {% for entry in craft.entries.section('pages').order('sortingOrder asc').find() if entry.showInMenu == true %}
                            {% set enrtySlug = entry.slug %}
                            {% set tabIsSelected = (segment == enrtySlug) %}
                            <li class="navigation__item{% if tabIsSelected %} active{% endif %}">
                                <a class="navigation__link"  href="{{ entry.url }}">{{ entry.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="header__auth">
                <button class="btn btn-outline-light text-uppercase">Login</button>
            </div>
            <div class="header__phone">
                <span class="header__phone-icon">
                    <svg class="icon icon-phone" width="48" height="48">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone"></use>
                    </svg>
                </span>
                <span class="header__phone-text">0131 333 1222</span>
            </div>
            <nav class="header__networks">
                <a href="#" title="twitter">
                    <svg class="icon icon-twitter" width="48" height="48">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
                    </svg>
                </a>
                <a href="#" title="facebook">
                    <svg class="icon icon-facebook" width="48" height="48">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
                    </svg>
                </a>
                <a href="#" title="youtube">
                    <svg class="icon icon-youtube" width="48" height="48">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube"></use>
                    </svg>
                </a>
                <a href="#" title="instagram">
                    <svg class="icon icon-instagram" width="48" height="48">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use>
                    </svg>
                </a>
            </nav>
        </div>
        <div class="header__overlay"></div>

        <div class="header__bar">
            <div class="bar">
                <span class="bar__icon"></span>
                <span class="bar__icon"></span>
                <span class="bar__icon"></span>
            </div>
        </div>
    </div>
</header>
