<div class="logo">
    <a class="logo__link" href="./index.html">
        <img class="logo__link" src="{{ craft.config.environmentVariables.craftAssetsBaseUrl }}/site/logo.png" alt="Bark and Fly" />
    </a>
</div>